<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

  <meta name="description" content="기성 양복은 내 체형에 맞지 않을 수 있다. 라라벨이 제공하는 사용자 인증 기능을 편리하지만, 그만큼 마음대로 주무르기는 불편하다. 그래서 프레임워크가 제공하는 Low Level API를 이용해서 사용자 인증 기능을 직접 개발한다."/>
  <meta name="google-site-verification" content="ToXKBimREnz49pDNot4b-N9ZJgYcKXPPsHsjhg4Zzuc"/>
  <meta name="naver-site-verification" content="7cebcc8e5493169f5401870d9ce57f48d18491cd"/>

  <meta name="msapplication-tap-highlight" content="no"/>

  <!-- Facebook Meta -->
  <meta property="og:title" content="라라벨 5 입문 및 실전 / 32/33 보충 - 인증 리팩토링"/>
  <meta property="og:type" content="Website"/>
  <meta property="og:author" content="appkr (juwonkim@me.com)"/>
  <meta property="og:image" content=""/>

  <!-- Google+ Meta -->
  <meta itemprop="name" content="라라벨 5 입문 및 실전 / 32/33 보충 - 인증 리팩토링">
  <meta itemprop="description" content="기성 양복은 내 체형에 맞지 않을 수 있다. 라라벨이 제공하는 사용자 인증 기능을 편리하지만, 그만큼 마음대로 주무르기는 불편하다. 그래서 프레임워크가 제공하는 Low Level API를 이용해서 사용자 인증 기능을 직접 개발한다.">
  <meta itemprop="image" content="">
  <meta itemprop="author" content="appkr (juwonkim@me.com)"/>

  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@appkrs"/>
  <meta name="twitter:title" content="라라벨 5 입문 및 실전 / 32/33 보충 - 인증 리팩토링"/>
  <meta name="twitter:description" content="기성 양복은 내 체형에 맞지 않을 수 있다. 라라벨이 제공하는 사용자 인증 기능을 편리하지만, 그만큼 마음대로 주무르기는 불편하다. 그래서 프레임워크가 제공하는 Low Level API를 이용해서 사용자 인증 기능을 직접 개발한다."/>
  <meta name="twitter:image" content=""/>
  <meta name="twitter:domain" content="http://l5.appkr.kr/">

  <!-- Mobile and Rss -->
  <link rel="canonical" href="http://l5.appkr.kr/"/>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="/css/main.css">

  <title>라라벨 5 입문 및 실전 / 32/33 보충 - 인증 리팩토링</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body id="#app">
  <nav class="navbar navbar-fixed-top role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <i class="material-icons">school</i>
        라라벨 5 입문 및 실전
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <aside id="sidebar" class="col-md-3">
        <ul>
                      <li  index="0" current-index="41">
              <a href="/lessons/01-welcome.html">1강 - 처음 만나는 라라벨</a>
            </li>
                      <li  index="1" current-index="41">
              <a href="/lessons/02-hello-laravel.html">2강 - 라라벨 5 설치하기</a>
            </li>
                      <li  index="2" current-index="41">
              <a href="/lessons/02-install-on-windows.html">2강 - 라라벨 5 설치하기 (on Windows)</a>
            </li>
                      <li  index="3" current-index="41">
              <a href="/lessons/03-configuration.html">3강 - 글로벌 설정 살펴보기</a>
            </li>
                      <li  index="4" current-index="41">
              <a href="/lessons/04-routing-basics.html">4강 - Routing 기본기</a>
            </li>
                      <li  index="5" current-index="41">
              <a href="/lessons/05-pass-data-to-view.html">5강 - 뷰에 데이터 바인딩하기</a>
            </li>
                      <li  index="6" current-index="41">
              <a href="/lessons/06-blade-101.html">6강 - 블레이드 101</a>
            </li>
                      <li  index="7" current-index="41">
              <a href="/lessons/07-blade-201.html">7강 - 블레이드 201</a>
            </li>
                      <li  index="8" current-index="41">
              <a href="/lessons/08-raw-queries.html">8강 - 날 쿼리 :(</a>
            </li>
                      <li  index="9" current-index="41">
              <a href="/lessons/09-query-builder.html">9강 - 쿼리 빌더</a>
            </li>
                      <li  index="10" current-index="41">
              <a href="/lessons/10-eloquent.html">10강 - 엘로퀀트 ORM</a>
            </li>
                      <li  index="11" current-index="41">
              <a href="/lessons/11-migration.html">11강 - DB 마이그레이션</a>
            </li>
                      <li  index="12" current-index="41">
              <a href="/lessons/12-controller.html">12강 - 컨트롤러</a>
            </li>
                      <li  index="13" current-index="41">
              <a href="/lessons/13-restful-resource-controller.html">13강 - RESTful 리소스 컨트롤러</a>
            </li>
                      <li  index="14" current-index="41">
              <a href="/lessons/14-named-routes.html">14강 - 이름 있는 Route</a>
            </li>
                      <li  index="15" current-index="41">
              <a href="/lessons/15-nested-resources.html">15강 - 중첩된 리소스</a>
            </li>
                      <li  index="16" current-index="41">
              <a href="/lessons/16-authentication.html">16강 - 사용자 인증 기본기</a>
            </li>
                      <li  index="17" current-index="41">
              <a href="/lessons/17-authentication-201.html">17강 - 라라벨에 내장된 사용자 인증</a>
            </li>
                      <li  index="18" current-index="41">
              <a href="/lessons/18-eloquent-relationships.html">18강 - 모델간 관계 맺기</a>
            </li>
                      <li  index="19" current-index="41">
              <a href="/lessons/19-seeder.html">19강 - 데이터 심기</a>
            </li>
                      <li  index="20" current-index="41">
              <a href="/lessons/20-eager-loading.html">20강 - Eager 로딩</a>
            </li>
                      <li  index="21" current-index="41">
              <a href="/lessons/20-1-pagination.html">추가 - 페이징</a>
            </li>
                      <li  index="22" current-index="41">
              <a href="/lessons/21-mail.html">21강 - 메일 보내기</a>
            </li>
                      <li  index="23" current-index="41">
              <a href="/lessons/22-events.html">22강 - 이벤트</a>
            </li>
                      <li  index="24" current-index="41">
              <a href="/lessons/23-validation.html">23강 - 입력 값 유효성 검사</a>
            </li>
                      <li  index="25" current-index="41">
              <a href="/lessons/24-exception-handling.html">24강 - 예외 처리</a>
            </li>
                      <li  index="26" current-index="41">
              <a href="/lessons/25-composer.html">25강 - 컴포저</a>
            </li>
                      <li  index="27" current-index="41">
              <a href="/lessons/26-document-model.html">26강 - Document 모델</a>
            </li>
                      <li  index="28" current-index="41">
              <a href="/lessons/27-document-controller.html">27강 - Document 컨트롤러</a>
            </li>
                      <li  index="29" current-index="41">
              <a href="/lessons/28-cache.html">28강 - Cache</a>
            </li>
                      <li  index="30" current-index="41">
              <a href="/lessons/29-elixir.html">29강 - Elixir, 만병통치약?</a>
            </li>
                      <li  index="31" current-index="41">
              <a href="/lessons/30-final-touch.html">30강 - Debug &amp; Final Touch</a>
            </li>
                      <li  index="32" current-index="41">
              <a href="/lessons/31-forum-features.html">31강 - 포럼 요구사항 기획</a>
            </li>
                      <li  index="33" current-index="41">
              <a href="/lessons/32-login.html">32강 - 사용자 로그인</a>
            </li>
                      <li  index="34" current-index="41">
              <a href="/lessons/33-social-login.html">33강 - 소셜 로그인</a>
            </li>
                      <li  index="35" current-index="41">
              <a href="/lessons/34-role.html">34강 - 사용자 역할</a>
            </li>
                      <li  index="36" current-index="41">
              <a href="/lessons/35-locale.html">35강 - 다국어 지원</a>
            </li>
                      <li  index="37" current-index="41">
              <a href="/lessons/36-models.html">36강 - 마이그레이션과 모델</a>
            </li>
                      <li  index="38" current-index="41">
              <a href="/lessons/37-articles.html">37강 - Article 기능 구현</a>
            </li>
                      <li  index="39" current-index="41">
              <a href="/lessons/38-tags.html">38강 - Tag 기능 구현</a>
            </li>
                      <li  index="40" current-index="41">
              <a href="/lessons/39-attachments.html">39강 - Attachment 기능 구현</a>
            </li>
                      <li class="active" index="41" current-index="41">
              <a href="/lessons/32n33-auth-refactoring.html">32/33 보충 - 인증 리팩토링</a>
            </li>
                      <li  index="42" current-index="41">
              <a href="/lessons/40-comments.html">40강 - Comment 기능 구현</a>
            </li>
                      <li  index="43" current-index="41">
              <a href="/lessons/41-ui-makeup.html">41강 - UI 개선</a>
            </li>
                      <li  index="44" current-index="41">
              <a href="/lessons/42-be-makeup.html">42강 - 서버 사이드 개선</a>
            </li>
                      <li  index="45" current-index="41">
              <a href="/lessons/43-change-note.html">43강 - 변경 사항 알림</a>
            </li>
                      <li  index="46" current-index="41">
              <a href="/lessons/44-api-basic.html">44강 - API 기본기 및 기획</a>
            </li>
                      <li  index="47" current-index="41">
              <a href="/lessons/45-api-big-picture.html">45강 - 기본 구조 잡기</a>
            </li>
                      <li  index="48" current-index="41">
              <a href="/lessons/46-jwt.html">46강 - JWT 를 이용한 인증</a>
            </li>
                      <li  index="49" current-index="41">
              <a href="/lessons/47-dry-refactoring.html">47강 - 중복 제거 리팩토링</a>
            </li>
                      <li  index="50" current-index="41">
              <a href="/lessons/48-all-is-bad.html">48강 - all() is bad</a>
            </li>
                      <li  index="51" current-index="41">
              <a href="/lessons/49-rate-limit.html">49강 - API Rate Limit</a>
            </li>
                      <li  index="52" current-index="41">
              <a href="/lessons/50-id-obfuscation.html">50강 - 리소스 id 난독화</a>
            </li>
                      <li  index="53" current-index="41">
              <a href="/lessons/51-cors.html">51강 - CORS</a>
            </li>
                      <li  index="54" current-index="41">
              <a href="/lessons/52-caching.html">52강 - Caching</a>
            </li>
                      <li  index="55" current-index="41">
              <a href="/lessons/53-partial-response.html">53강 - Partial Response</a>
            </li>
                      <li  index="56" current-index="41">
              <a href="/lessons/54-api-docs.html">54강 - API Documents</a>
            </li>
                      <li  index="57" current-index="41">
              <a href="/lessons/02-install-homestead-osx.html">Homestead 설치 (on Mac)</a>
            </li>
                      <li  index="58" current-index="41">
              <a href="/lessons/02-install-homestead-windows.html">Homestead 설치 (on Windows)</a>
            </li>
                      <li  index="59" current-index="41">
              <a href="/lessons/999-code-release.html">코드 배포</a>
            </li>
                  </ul>
      </aside>

      <div class="col-md-9">
        <article id="article">
                      <nav id="pagination">
  <ul class="pager pager-top">
    <li class="previous ">
      <a href="/lessons/39-attachments.html">
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_left</i>
        </span>
        <span class="pager-title">
          39강 - Attachment 기...
        </span>
      </a>
    </li>
    <li class="next ">
      <a href="/lessons/40-comments.html">
        <span class="pager-title">
          40강 - Comment 기능...
        </span>
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
      </a>
    </li>
  </ul>
</nav>
            <hr/>

            <h1>실전 프로젝트 2 - Forum</h1>
<h2>32/33 보충 - 인증 리팩토링</h2>
<p>잠깐 쉬어가자~ 32강 33강에서 구현했던 라라벨 내장 인증 Route와 컨트롤러의 메소드가 맘에 들지 않아, 인증 레이어를 다시 구성하고, Integration Test 부분도 추가했다.  </p>
<p>또, 앞 강의에서 발생한 버그들도 수정했다.</p>
<h3>인증 재구현</h3>
<p>라라벨 내장 인증 기능을 사용함에 있어서 Route 정의에 연결된 'AuthController'의 메소드들이 trait 와 프레임웍 속에 숨어 있어서, 읽기도 쉽지 않을 뿐더러, 필요에 의해서 내부를 수정하면, 다음 프레임웍 업데이트 때, 나의 수정 내용이 엎어쳐지는 불상사가 발생할 수 있다. 라라벨에 내장된 인증 구현에 대한 의존성을 버리기 위해서, </p>
<ul>
<li><code>App\Http\Controllers\UsersController</code> (가입)</li>
<li><code>App\Http\Controllers\SessionsController</code> (로그인/아웃)</li>
<li><code>App\Http\Controllers\SocialController</code> (소셜 로그인)</li>
<li><code>App\Http\Controllers\PasswordsController</code> (비밀번호 재설정)</li>
</ul>
<p>으로 각각 분리하여 작성하였다.</p>
<h4>문제점 인식</h4>
<p>서비스마다 로그인에 대한 정책이 있기 마련인데, 필자는 우리 서비스(이하 'myProject')의 사용자들이 소셜 로그인도 할 수 있고, 네이티브 로그인도 할 수 있게 하고 싶다. 여기서는 사용자의 Github 이메일 계정과, myProject 에 회원 가입한 이메일 계정이 동일할 경우만을 가정한다. </p>
<p><strong><code>참고</code></strong> Github 이메일과 myProject의 사용자 이메일 주소가 서로 다르다면, 두 개의 서로 다른 계정으로 인식될 것이다. 즉, myProject 에 들어와서 사용자가 생성하는 Article, Comment 등의 모델은 그때 그때 로그인한 소셜 또는 네이티브 사용자에게 속할 것이다. 프로그램적으로 해결할 수 있는 문제가 아니므로, 정책적으로 해결하거나, 사용자가 수동으로 계정을 연결할 수 있는 방법과 장치를 제공해야 할 것이다.  </p>
<p>기존 소셜 로그인 코드를 잠시 살펴 보자. 아래 코드에서 <code>User::firstOrCreate()</code> 메소드에서 Github 로 부터 받은 정보를 이용하여 <strong>'password'가 없는 사용자를 생성</strong>하고 있다는 것을 기억하고 있자.</p>
<pre><code class="language-php">// 기존 코드
// app/Http/Controllers/Auth/AuthController.php

public function handleProviderCallback()
{
    $user = \Socialite::driver('github')-&gt;user();
    $user = User::firstOrCreate([
        'name'  =&gt; $user-&gt;getName(),
        'email' =&gt; $user-&gt;getEmail(),
    ]);
    ...
}</code></pre>
<p>아래와 같은 경우의 수가 발생할 수 있다.</p>
<ol>
<li>myProject 에 회원 가입을 먼저하고, 소셜 로그인을 시도하는 경우
<ol>
<li>사용자 이름까지 같을 경우 -&gt; 로그인 됨</li>
<li><strong>사용자 이름이 다르면, 사용자 생성을 시도하게 됨 -&gt; 동일 이메일을 가진 User 가 하나 더 생김</strong></li>
</ol></li>
<li>소셜 로그인을 하여, 빈 'password'를 가진 User 모델이 생성된 상태에서, 네이티브 인증을 시도하는 경우
<ol>
<li>'password' 가 없으므로 네이티브 로그인 불가능</li>
<li>myProject 에 회원 가입을 시도하는 경우, <strong>같은 이메일을 가진 User 가 이미 있으므로 가입 불가능</strong></li>
</ol></li>
</ol>
<p>다음과 같은 방법으로 해결해 보자.</p>
<ol>
<li>myProject 에 회원 가입을 먼저하고, 소셜 로그인을 시도하는 경우
<ol>
<li><code>firstOrCreate()</code> 부분을 'email'로 먼저 쿼리하고, 없으면 User를 생성하는 로직으로 다시 작성하자.</li>
</ol></li>
<li>소셜 로그인을 하여, 빈 'password'를 가진 User 모델이 생성된 상태에서... 
<ol>
<li>myProject 에 회원 가입을 시도하는 경우, 기존 소셜 로그인으로 'password' 없이 생성된 계정에 'password'를 업데이트한다.</li>
<li>비밀번호 재설정을 시도하는 경우, 소셜 로그인 사용자라고 안내한다.</li>
</ol></li>
</ol>
<p>우선, 기존 마이그레이션의 'password' 필드에 <code>nullable()</code> 속성을 추가하였다. 수정했으면 <code>$ php artisan migrate:refresh --seed</code></p>
<pre><code class="language-php">// database/migrations/create_users_table.php

public function up()
{
    // ...
    $table-&gt;string('password', 60)-&gt;nullable();
}</code></pre>
<h4>Route 정의</h4>
<p><img src="./images/32n33-auth-refactoring-img-01.png" alt="" /></p>
<p>잘 보면, <code>Route::get('social/{provider}', 'SocialController@execute')</code> 부분에서 'social/github', 'social/facebook' 등으로 소셜 로그인 공급자를 더 붙일 수 있도록 Route 구조를 좀 변경할 것을 확인할 수 있다.</p>
<pre><code class="language-php">// app/Http/routes.php

/* User Registration */
Route::get('auth/register', [
    'as'   =&gt; 'users.create',
    'uses' =&gt; 'UsersController@create'
]);
Route::post('auth/register', [
    'as'   =&gt; 'users.store',
    'uses' =&gt; 'UsersController@store'
]);

/* Social Login */
Route::get('social/{provider}', [
    'as'   =&gt; 'social.login',
    'uses' =&gt; 'SocialController@execute',
]);

/* Session */
Route::get('auth/login', [
    'as'   =&gt; 'sessions.create',
    'uses' =&gt; 'SessionsController@create'
]);
Route::post('auth/login', [
    'as'   =&gt; 'sessions.store',
    'uses' =&gt; 'SessionsController@store'
]);
Route::get('auth/logout', [
    'as'   =&gt; 'sessions.destroy',
    'uses' =&gt; 'SessionsController@destroy'
]);

/* Password Reminder */
Route::get('auth/remind', [
    'as'   =&gt; 'remind.create',
    'uses' =&gt; 'PasswordsController@getRemind',
]);
Route::post('auth/remind', [
    'as'   =&gt; 'remind.store',
    'uses' =&gt; 'PasswordsController@postRemind',
]);
Route::get('auth/reset/{token}', [
    'as'   =&gt; 'reset.create',
    'uses' =&gt; 'PasswordsController@getReset',
]);
Route::post('auth/reset', [
    'as'   =&gt; 'reset.store',
    'uses' =&gt; 'PasswordsController@postReset',
]);</code></pre>
<p><strong><code>중요</code></strong> Route 정의가 변경되었으므로, 회원 가입, (소셜) 로그인, 비밀번호 재설정 관련해서 기존에 뷰 코드에 박아 놓았던, <code>route()</code> Helper 를 이용한 링크들을 모두 수정해 주어야 한다.</p>
<p><strong><code>참고</code></strong> 기존에 'resources/views/auth' 아래에 위치하던 뷰들도 'users', 'sessions', 'passwords' 아래로 옮기고, 이름도 적절히 변경하였다. 각 컨트롤러에서 <code>view()</code>를 반환할 때 바뀐 위치로 적용해 주어야 한다.</p>
<h4>'SocialController(소셜 로그인)' 구현</h4>
<p>앞 절의 Route 정의에서 <code>Route::get('social/{provider}', 'SocialController@execute')</code>로 썼다. 소셜 인증 과정에는 Github 'Authorize application' 페이지로 이동하는 Route 하나, 앞 과정에서 사용자가 승인하면 Github 에서 myProject 로 콜백해 주는 Route 총 두 개가 필요했던 것을 <code>execute()</code> 하나로 줄였다. <code>execute()</code> 메소드에서 myProject의 Router로 들어오는 HTTP 요청 쿼리스트링의 'code' 필드의 유무에 따라 분기시킨 것이다. 전체적인 과정은 아래 그림을 참조하자.</p>
<p><img src="./images/32n33-auth-refactoring-img-02.png" alt="" /></p>
<p><code>$user = (\App\User::whereEmail($user-&gt;getEmail())-&gt;first()) ?: \App\User::create([...]);</code> 부분에서 기존의 <code>firstOrCreate()</code> 메소드를 다시 썼다. 'email' 로만 쿼리해서 있으면 myProject 에 로그인해 주고, 해당 'email'을 가진 레코드가 없으면, 'email', 'name' 필드를 가진 사용자를 생성시키도록 수정하였다.</p>
<pre><code class="language-php">// app/Http/Controllers/SocialController.php

class SocialController extends Controller
{
    public function execute(Request $request, $provider)
    {
        if (! $request-&gt;has('code')) {
            return $this-&gt;redirectToProvider($provider);
        }

        return $this-&gt;handleProviderCallback($provider);
    }

    protected function redirectToProvider($provider) { // ...}

    protected function handleProviderCallback($provider)
    {
        $user = $this-&gt;socialite-&gt;driver($provider)-&gt;user();

        $user = (\App\User::whereEmail($user-&gt;getEmail())-&gt;first())
            ?: \App\User::create([
                'name'  =&gt; $user-&gt;getName(),
                'email' =&gt; $user-&gt;getEmail(),
            ]);

        // ...
    }
}</code></pre>
<p>Route 가 바뀌었으므로, <a href="https://github.com/settings/developers">Github Developer Applications Console</a>를 방문하여 Authorization callback URL 을 '<a href="http://localhost:8000/social/github">http://localhost:8000/social/github</a>' 로 변경하여야 한다.</p>
<p><strong><code>참고</code></strong> <code>handleProviderCallback()</code> 에서 보통은 Github 에서 받은 사용자 정보로 폼을 포함한 뷰를 한번 더 사용자에게 보여주며, 다른 이메일, 비밀번호, 사용자 이름 등을 더 받아 <code>App\User</code> 모델로 저장하는 것이 정석이다. 이렇게 구현하면, 위에서 언급한 복잡한 Sync 과정이 불필요하다.</p>
<h4>UsersController(가입) 구현</h4>
<p>기존 대비 특별히 달라진 부분들만 살펴보도록 하자.</p>
<p><code>store()</code> 메소드에서는, 먼저 <code>App\User</code> 모델에 새로 정의한 <code>noPassword() (== whereNull('password'))</code> 란 <a href="http://laravel.com/docs/eloquent#query-scopes">쿼리스코프</a>를 이용하여 회원 가입 요청에서 사용자가 제출한 'email' 값과 일치하고, 'password' 가 <code>null</code> 인 사용자를 찾는다. 이는 소셜로 로그인하면서 생성된 계정을 의미한다. 소셜로 생성된 계정이면 <code>syncAccountInfo()</code> 메소드로 처리 로직을 위임하고, 소셜 로그인 이력이 없는 회원 가입 요청이면 <code>createAccount()</code> 메소드로 위임했다.</p>
<p><code>syncAccountInfo()</code> 메소드에서는, 사용자가 회원 가입 폼에 입력한 값들에 대한 유효성 검사를 수행하고, 통과하면 폼에서 넘겨 받은 'password' 값으로 기존에 <code>null</code> 이던 값을 대체하였다. Github 사용자 이름과, myProject 에서 사용하는 이름이 다를 수 있으므로, 'name' 필드도 넘겨 받은 값으로 업데이트하였다. 여기서 주목할 점은 <code>createAccount()</code> 메소드와 폼 데이터에 대한 유효성 검사 규칙이 약간 다르다는 것이다. 소셜 로그인으로 이미 사용자는 생성된 상태이므로, 'email' 필드 검사 규칙에서 'unique:users' 규칙이 빠졌다.</p>
<p><code>createAccount()</code> 는 기존과 크게 달라진 점이 없다.</p>
<pre><code class="language-php">// app/Http/Controllers/UsersController.php

class UsersController extends Controller
{
    public function store(Request $request)
    {
        if ($user = User::whereEmail($request-&gt;input('email'))-&gt;noPassword()-&gt;first()) {
            // Filter through the User model to find whether there is a social account
            // that has the same email address with the current request
            return $this-&gt;syncAccountInfo($request, $user);
        }

        return $this-&gt;createAccount($request);
    }

    protected function syncAccountInfo(Request $request, User $user)
    {
        $validator = \Validator::make($request-&gt;except('_token'), [
            'name'     =&gt; 'required|max:255',
            'email'    =&gt; 'required|email|max:255',
            'password' =&gt; 'required|confirmed|min:6',
        ]);

        if ($validator-&gt;fails()) {
            return back()-&gt;withInput()-&gt;withErrors($validator);
        }

        $user-&gt;update([
            'name' =&gt; $request-&gt;input('name'),
            'password' =&gt; bcrypt($request-&gt;input('password'))
        ]);

        \Auth::login($user);
        flash(trans('auth.welcome', ['name' =&gt; $user-&gt;name]));

        return redirect(route('home'));
    }

    protected function createAccount(Request $request) {// ...}
}</code></pre>
<h4>SessionsController(로그인/아웃) 구현</h4>
<p>여기서는 기존 대비 크게 달라진 점이 없이, trait나 프레임웍 속에 숨어 있던 것을 도메인레이어로 옮겨 놓았을 뿐이므로, 설명을 생략한다.</p>
<h4>PasswordsController(비밀번호 재설정) 구현</h4>
<p>myProject 에 가입하지 않고, 소셜 로그인으로만 사용하던 사용자가 갑자기 비밀번호 재설정 시도를 할 경우를 대비한 방어조치만 추가했다. 나머지 부분들은 기존 대비 크게 다르지 않다.</p>
<pre><code class="language-php">// app/Http/Controllers/PasswordsController.php

public function postRemind(Request $request)
{
    // ...
    if (User::whereEmail($request-&gt;input('email'))-&gt;noPassword()-&gt;first()) {
        flash()-&gt;errors(sprintf("%s %s", trans('auth.social_olny'), trans('auth.no_password')));
        return back();
    }
    //...
}</code></pre>
<h4>인증 관련 통합 테스트 추가</h4>
<p>설명은 생략하지만, 'tests/Http/Controllers' 디렉토리 하위에 포함된 코드들을 살펴보고, 테스트를 수행해 볼 것을 권장한다. 필자가 아직은 실력이 미천해서 외부로 HTTP 요청이 발생하는 'SocialController' 와 이메일을 보내야 하는 'PasswordsController' 부분은 테스트 코드를 쓰지 못했다 (PR 또는 가르침 환영합니다 ^^/)</p>
<pre><code class="language-bash">$ phpunit</code></pre>
<h3>디버그 및 자잘한 개선</h3>
<p>'config/services.php' 에 하드코드로 박아 놓았던 Github 소셜 로그인 관련 설정 값들을 '.env'로 옮겼다.</p>
<p>로그인 하지 않은 상태에서 <code>@if (auth()-&gt;user()-&gt;isAdmin() ...)</code> 이 들어간 뷰를 방문하면 null 포인터 에러가 나는 버그가 있었다. <code>@if ($currentUser and ($currentUser-&gt;isAdmin() ...))</code> 으로 변경하였다. 로그인을 하면 <code>auth()-&gt;user()</code> 는 로그인한 사용자에 해당하는 <code>App\User</code> 인스턴스를 반환하는데, 로그인 되어 있지 않으면 <code>null</code>을 반환한다. <code>null-&gt;isAdmin()</code> 은 당연히 성립할 수 없는 코드이다. </p>
<p>아울러, 뷰 코드에 <code>Auth::check()</code> 로 된 부분들도 <code>App\Http\Controlelrs\Controller::__construct()</code> 에서 뷰에 공유한 <code>$currentUser</code> 변수로 대체하였다. 만들었으면 써야 하기에...</p>
<p>코드에디터(또는 IDE)에서 <kbd>Cmd</kbd> + Mouse Click 으로 , Facade 에 연결된 메소드로 이동을 쉽게 하기 위해서 <a href="https://github.com/barryvdh/laravel-ide-helper">'barryvdh/laravel-ide-helper'</a> 패키지를 Dev Dependency 로 추가하였다. <code>$ composer require barryvdh/laravel-ide-helper --dev</code>. 설정법은 스스로 찾아서 적용하기 바라고, 설명하고 싶었던 것은 다른 것이다. 개발 과정 중에만 필요한 패키지를 설치하고, 해당 패키지가 제공하는 ServiceProvider를 'config/app.php' 에 등록할텐데, production 서버에 올릴 때 매번 불필요한 패키지 라인을 주석처리 하는 것은 귀찮은 일이다. 이때 <code>App\Providers\AppServiceProvider</code> 를 이용하면 편리하게 local 또는 dev 환경일 때만 로드되도록 할 수 있다. 참고로 아래 코드에서 <code>$this-&gt;app-&gt;environment()</code> 는 <code>\App::environment()</code> 또는 <code>app()-&gt;environment()</code> 로도 쓸 수 있다.</p>
<pre><code class="language-php">// app/Providers/AppServiceProvider.php

public function register()
{
    if ($this-&gt;app-&gt;environment('local')) {
        $this-&gt;app-&gt;register(\Barryvdh\LaravelIdeHelper\IdeHelperServiceProvider::class);
    }
}</code></pre>
<!--@start-->
<hr />
<ul>
<li><a href="../readme.md">목록으로 돌아가기</a></li>
<li><a href="39-attachments.md">39강 - Attachment 기능 구현</a></li>
<li><a href="40-comments.md">40강 - Comment 기능 구현</a>
<!--@end--></li>
</ul>

            <hr/>

            <nav id="pagination">
  <ul class="pager pager-bottom">
    <li class="previous ">
      <a href="/lessons/39-attachments.html">
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_left</i>
        </span>
        <span class="pager-title">
          39강 - Attachment 기...
        </span>
      </a>
    </li>
    <li class="next ">
      <a href="/lessons/40-comments.html">
        <span class="pager-title">
          40강 - Comment 기능...
        </span>
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
      </a>
    </li>
  </ul>
</nav>                  </article>

        <hr class="divider">

        <div id="comment">
          <div class="comments" style="margin-bottom: 30px;">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//l5lessons.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  <!--script id="dsq-count-scr" src="//l5lessons.disqus.com/count.js" async></script-->
</div>        </div>
      </div>
    </div>
  </div>

  <div id="toggler">
    <a href="#" title="Open Menu">
      목록 토글
    </a>
  </div>

  <footer id="footer">
  <div>
    &copy; 2019 &nbsp; <a href="https://github.com/appkr">appkr</a> •
    Built with <a href="http://jigsaw.tighten.co/">Jigsaw</a> •
    Hosted by <a href="https://pages.github.com/">Github</a> •
    <a href="/feed.xml">Rss</a>
  </div>
</footer>

<div id="back-to-top">
  <a href="#" title="Scroll to Top">
    <i class="material-icons">keyboard_arrow_up</i>
  </a>
</div>
  <script src="/js/all.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71112324-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
