<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

  <meta name="description" content="포럼에 글 쓸 때, 첨부 파일도 같이 업로드하는 기능을 개발한다."/>
  <meta name="google-site-verification" content="ToXKBimREnz49pDNot4b-N9ZJgYcKXPPsHsjhg4Zzuc"/>
  <meta name="naver-site-verification" content="7cebcc8e5493169f5401870d9ce57f48d18491cd"/>

  <meta name="msapplication-tap-highlight" content="no"/>

  <!-- Facebook Meta -->
  <meta property="og:title" content="라라벨 5 입문 및 실전 / 39강 - Attachment 기능 구현"/>
  <meta property="og:type" content="Website"/>
  <meta property="og:author" content="appkr (juwonkim@me.com)"/>
  <meta property="og:image" content=""/>

  <!-- Google+ Meta -->
  <meta itemprop="name" content="라라벨 5 입문 및 실전 / 39강 - Attachment 기능 구현">
  <meta itemprop="description" content="포럼에 글 쓸 때, 첨부 파일도 같이 업로드하는 기능을 개발한다.">
  <meta itemprop="image" content="">
  <meta itemprop="author" content="appkr (juwonkim@me.com)"/>

  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@appkrs"/>
  <meta name="twitter:title" content="라라벨 5 입문 및 실전 / 39강 - Attachment 기능 구현"/>
  <meta name="twitter:description" content="포럼에 글 쓸 때, 첨부 파일도 같이 업로드하는 기능을 개발한다."/>
  <meta name="twitter:image" content=""/>
  <meta name="twitter:domain" content="http://l5.appkr.kr/">

  <!-- Mobile and Rss -->
  <link rel="canonical" href="http://l5.appkr.kr/"/>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="/css/main.css">

  <title>라라벨 5 입문 및 실전 / 39강 - Attachment 기능 구현</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body id="#app">
  <nav class="navbar navbar-fixed-top role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <i class="material-icons">school</i>
        라라벨 5 입문 및 실전
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <aside id="sidebar" class="col-md-3">
        <ul>
                      <li  index="0" current-index="40">
              <a href="/lessons/01-welcome.html">1강 - 처음 만나는 라라벨</a>
            </li>
                      <li  index="1" current-index="40">
              <a href="/lessons/02-hello-laravel.html">2강 - 라라벨 5 설치하기</a>
            </li>
                      <li  index="2" current-index="40">
              <a href="/lessons/02-install-on-windows.html">2강 - 라라벨 5 설치하기 (on Windows)</a>
            </li>
                      <li  index="3" current-index="40">
              <a href="/lessons/03-configuration.html">3강 - 글로벌 설정 살펴보기</a>
            </li>
                      <li  index="4" current-index="40">
              <a href="/lessons/04-routing-basics.html">4강 - Routing 기본기</a>
            </li>
                      <li  index="5" current-index="40">
              <a href="/lessons/05-pass-data-to-view.html">5강 - 뷰에 데이터 바인딩하기</a>
            </li>
                      <li  index="6" current-index="40">
              <a href="/lessons/06-blade-101.html">6강 - 블레이드 101</a>
            </li>
                      <li  index="7" current-index="40">
              <a href="/lessons/07-blade-201.html">7강 - 블레이드 201</a>
            </li>
                      <li  index="8" current-index="40">
              <a href="/lessons/08-raw-queries.html">8강 - 날 쿼리 :(</a>
            </li>
                      <li  index="9" current-index="40">
              <a href="/lessons/09-query-builder.html">9강 - 쿼리 빌더</a>
            </li>
                      <li  index="10" current-index="40">
              <a href="/lessons/10-eloquent.html">10강 - 엘로퀀트 ORM</a>
            </li>
                      <li  index="11" current-index="40">
              <a href="/lessons/11-migration.html">11강 - DB 마이그레이션</a>
            </li>
                      <li  index="12" current-index="40">
              <a href="/lessons/12-controller.html">12강 - 컨트롤러</a>
            </li>
                      <li  index="13" current-index="40">
              <a href="/lessons/13-restful-resource-controller.html">13강 - RESTful 리소스 컨트롤러</a>
            </li>
                      <li  index="14" current-index="40">
              <a href="/lessons/14-named-routes.html">14강 - 이름 있는 Route</a>
            </li>
                      <li  index="15" current-index="40">
              <a href="/lessons/15-nested-resources.html">15강 - 중첩된 리소스</a>
            </li>
                      <li  index="16" current-index="40">
              <a href="/lessons/16-authentication.html">16강 - 사용자 인증 기본기</a>
            </li>
                      <li  index="17" current-index="40">
              <a href="/lessons/17-authentication-201.html">17강 - 라라벨에 내장된 사용자 인증</a>
            </li>
                      <li  index="18" current-index="40">
              <a href="/lessons/18-eloquent-relationships.html">18강 - 모델간 관계 맺기</a>
            </li>
                      <li  index="19" current-index="40">
              <a href="/lessons/19-seeder.html">19강 - 데이터 심기</a>
            </li>
                      <li  index="20" current-index="40">
              <a href="/lessons/20-eager-loading.html">20강 - Eager 로딩</a>
            </li>
                      <li  index="21" current-index="40">
              <a href="/lessons/20-1-pagination.html">추가 - 페이징</a>
            </li>
                      <li  index="22" current-index="40">
              <a href="/lessons/21-mail.html">21강 - 메일 보내기</a>
            </li>
                      <li  index="23" current-index="40">
              <a href="/lessons/22-events.html">22강 - 이벤트</a>
            </li>
                      <li  index="24" current-index="40">
              <a href="/lessons/23-validation.html">23강 - 입력 값 유효성 검사</a>
            </li>
                      <li  index="25" current-index="40">
              <a href="/lessons/24-exception-handling.html">24강 - 예외 처리</a>
            </li>
                      <li  index="26" current-index="40">
              <a href="/lessons/25-composer.html">25강 - 컴포저</a>
            </li>
                      <li  index="27" current-index="40">
              <a href="/lessons/26-document-model.html">26강 - Document 모델</a>
            </li>
                      <li  index="28" current-index="40">
              <a href="/lessons/27-document-controller.html">27강 - Document 컨트롤러</a>
            </li>
                      <li  index="29" current-index="40">
              <a href="/lessons/28-cache.html">28강 - Cache</a>
            </li>
                      <li  index="30" current-index="40">
              <a href="/lessons/29-elixir.html">29강 - Elixir, 만병통치약?</a>
            </li>
                      <li  index="31" current-index="40">
              <a href="/lessons/30-final-touch.html">30강 - Debug &amp; Final Touch</a>
            </li>
                      <li  index="32" current-index="40">
              <a href="/lessons/31-forum-features.html">31강 - 포럼 요구사항 기획</a>
            </li>
                      <li  index="33" current-index="40">
              <a href="/lessons/32-login.html">32강 - 사용자 로그인</a>
            </li>
                      <li  index="34" current-index="40">
              <a href="/lessons/33-social-login.html">33강 - 소셜 로그인</a>
            </li>
                      <li  index="35" current-index="40">
              <a href="/lessons/34-role.html">34강 - 사용자 역할</a>
            </li>
                      <li  index="36" current-index="40">
              <a href="/lessons/35-locale.html">35강 - 다국어 지원</a>
            </li>
                      <li  index="37" current-index="40">
              <a href="/lessons/36-models.html">36강 - 마이그레이션과 모델</a>
            </li>
                      <li  index="38" current-index="40">
              <a href="/lessons/37-articles.html">37강 - Article 기능 구현</a>
            </li>
                      <li  index="39" current-index="40">
              <a href="/lessons/38-tags.html">38강 - Tag 기능 구현</a>
            </li>
                      <li class="active" index="40" current-index="40">
              <a href="/lessons/39-attachments.html">39강 - Attachment 기능 구현</a>
            </li>
                      <li  index="41" current-index="40">
              <a href="/lessons/32n33-auth-refactoring.html">32/33 보충 - 인증 리팩토링</a>
            </li>
                      <li  index="42" current-index="40">
              <a href="/lessons/40-comments.html">40강 - Comment 기능 구현</a>
            </li>
                      <li  index="43" current-index="40">
              <a href="/lessons/41-ui-makeup.html">41강 - UI 개선</a>
            </li>
                      <li  index="44" current-index="40">
              <a href="/lessons/42-be-makeup.html">42강 - 서버 사이드 개선</a>
            </li>
                      <li  index="45" current-index="40">
              <a href="/lessons/43-change-note.html">43강 - 변경 사항 알림</a>
            </li>
                      <li  index="46" current-index="40">
              <a href="/lessons/44-api-basic.html">44강 - API 기본기 및 기획</a>
            </li>
                      <li  index="47" current-index="40">
              <a href="/lessons/45-api-big-picture.html">45강 - 기본 구조 잡기</a>
            </li>
                      <li  index="48" current-index="40">
              <a href="/lessons/46-jwt.html">46강 - JWT 를 이용한 인증</a>
            </li>
                      <li  index="49" current-index="40">
              <a href="/lessons/47-dry-refactoring.html">47강 - 중복 제거 리팩토링</a>
            </li>
                      <li  index="50" current-index="40">
              <a href="/lessons/48-all-is-bad.html">48강 - all() is bad</a>
            </li>
                      <li  index="51" current-index="40">
              <a href="/lessons/49-rate-limit.html">49강 - API Rate Limit</a>
            </li>
                      <li  index="52" current-index="40">
              <a href="/lessons/50-id-obfuscation.html">50강 - 리소스 id 난독화</a>
            </li>
                      <li  index="53" current-index="40">
              <a href="/lessons/51-cors.html">51강 - CORS</a>
            </li>
                      <li  index="54" current-index="40">
              <a href="/lessons/52-caching.html">52강 - Caching</a>
            </li>
                      <li  index="55" current-index="40">
              <a href="/lessons/53-partial-response.html">53강 - Partial Response</a>
            </li>
                      <li  index="56" current-index="40">
              <a href="/lessons/54-api-docs.html">54강 - API Documents</a>
            </li>
                      <li  index="57" current-index="40">
              <a href="/lessons/02-install-homestead-osx.html">Homestead 설치 (on Mac)</a>
            </li>
                      <li  index="58" current-index="40">
              <a href="/lessons/02-install-homestead-windows.html">Homestead 설치 (on Windows)</a>
            </li>
                      <li  index="59" current-index="40">
              <a href="/lessons/999-code-release.html">코드 배포</a>
            </li>
                  </ul>
      </aside>

      <div class="col-md-9">
        <article id="article">
                      <nav id="pagination">
  <ul class="pager pager-top">
    <li class="previous ">
      <a href="/lessons/38-tags.html">
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_left</i>
        </span>
        <span class="pager-title">
          38강 - Tag 기능 구현
        </span>
      </a>
    </li>
    <li class="next ">
      <a href="/lessons/32n33-auth-refactoring.html">
        <span class="pager-title">
          32/33 보충 - 인증 리...
        </span>
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
      </a>
    </li>
  </ul>
</nav>
            <hr/>

            <h1>실전 프로젝트 2 - Forum</h1>
<h2>39강 - Attachment 기능 구현</h2>
<p>Q. 구현을 시작하기 전에 &quot;첨부 파일을 언제 올릴 것이냐?&quot;에 대한 질문에 대한 답을 먼저 결정해야 한다. 포럼 글 (== Article)을 쓰는 시점에 허용할 것이냐, 아니면 포럼 글이 이미 작성되고 난 이후에 상세보기에서 허용할 것이냐?
: A. <strong>우리는 포럼 글을 작성하는 시점에 파일 첨부를 허용할 것이다.</strong> </p>
<p>Q. 또 하나의 질문은 'title', 'content', 'tags' 와 같은 포럼 Article 메타데이터와 파일을 한번에 전송할 것이냐? 아니면 파일 따로, 메타데이터 따로 전송할 것이냐? 이다.
: A. <strong>우리는 Async 방식으로 전송하는 것으로 한다</strong>.</p>
<p>좀 더 괜찮은 UI를 위해 첨부파일이 이미지 파일일 경우, 작성 중인 본문에 마크다운 문법으로 이미지를 입력할 수 있도록 하기 위해서다 (주제를 벗어난 내용이므로, 설명은 하지 않지만, 코드에는 포함되어 있을 예정이다).</p>
<p>여기까지 디자인 결정에서, 문제점이 보이는가? 첨부 파일을 업로드하는 시점에는 해당 Article 이 존재하지 않기 때문에, 방금 서버에 생성한 파일을 어느 Article 과 연결시켜야 할 지 알 수 없는 상태가 된다. 다음과 같은 시퀀스로 해결을 시도해 보자.</p>
<ol>
<li>'articles.create' 폼에서 Ajax 로 첨부파일을 업로드 한다.</li>
<li><code>AttachmentsController::store()</code> 메소드에서 처리하고, 처리된 파일의 id, 컨텐트 타입, 전체 Url을 JSON으로 내려준다.</li>
<li>폼 페이지는 서버에서 받은 JSON의 id, 즉 서버에 이미 저장된 Attachment 모델의 id 값들을 attachments[] 라는 필드 이름으로 폼에 추가한다.</li>
<li>폼이 전송되면, <code>ArticlesController::store()</code> 에서, 현재 생성하는 Article 과 attachments[] 필드로 넘겨 받은 id 들을 연결시켜 준다.</li>
</ol>
<p>잠깐!!! 다시 생각해 보면, 포럼을 수정할 때도, 기존에 첨부한 파일에 추가해서 파일을 더 첨부할 수 있는데, 이때는 Article id를 이미 알고 있는 상태이다. 그래서, 수정할 때는 아래 두 단계로 끝날 수 있지 않을까 생각된다.</p>
<ol>
<li>1 'articles.edit' 폼에서 첨부파일 업로드 Ajax 데이터에 Article id를 달아서 보낸다.</li>
<li>2 <code>AttachmentsController::store()</code> 메소드에서, 지금 생성할 Attachment 모델에, 첨부파일 업로드 Ajax 요청으로 넘겨 받은 Article 의 id을 연결시킨다.</li>
</ol>
<h3>Dropzone.js</h3>
<p><a href="http://www.dropzonejs.com/">Dropzone.js</a> 는 Drag &amp; Drop 방식으로 파일을 끌어다 놓으면, 페이지 리로드 없이 서버에 Ajax 로 파일을 업로드를 요청을 하고, 서버의 응답을 동적으로 보여주는 JS 라이브러리이다. </p>
<pre><code class="language-bash">$ bower install dropzone --save-dev</code></pre>
<p>bower 로 끌고온 Dropzone은 Sass 파일이 없어서, Gulp 태스크를 기존과 다르게 좀 수정했다. 수정 후 <code>$ gulp</code> 코맨드로 빌드한다. 기존 대비 <code>sass()</code> 빌드에서 두번째 인자로 빌드 결과물을 저장할 위치를 지정하고, <code>styles()</code> 빌드에서 방금 빌드한 sass 파일과 dropzone의 스타일시트를 머지하는 부분이 달라졌다. </p>
<p><strong><code>참고</code></strong> <code>sass()</code> 나 <code>styles()</code> 빌드는 기본적으로 'public/css' 에 결과물을 저장한다. <code>styles()</code> 든 <code>scripts()</code> 든 파일명을 <code>all.css</code>, <code>all.js</code> 로 저장하는데, 이를 오버라이드하기 위해서 각 빌드 메소드의 두번째 인자로 파일명을 명시적으로 지정해 주었다. 만약 파일명을 지정하지 않았다면, <code>version()</code> 메소드의 인자를 <code>['css/all.css', 'js/all.js']</code> 로 해 주면 되고, 'resources/views/layouts/master.blade.php' 에서 <code>{{ exilir("all.ext") }}</code> 로 연결시켜 주면 된다.</p>
<pre><code class="language-javascript">elixir(function (mix) {
  mix
    .sass('app.scss', 'resources/assets/css')
    .styles([
      'app.css',
      '../vendor/dropzone/dist/dropzone.css'
    ], 'public/css/app.css')
    .scripts([
      // Other JS Libraries
      '../vendor/dropzone/dist/dropzone.js',
      'app.js'
    ], 'public/js/app.js')
    // ...
});</code></pre>
<p>포럼 쓰기, 수정 폼에 Dropzone 파일 업로드 UI를 붙여 보자. 앞 강에서 생성했던 'tagselector.blade.php'는 포럼 외에 다른 곳에 쓸 일이 없을 것 같아, 'form.blade.php'에 머지하였다.</p>
<pre><code class="language-html">&lt;!-- resources/views/articles/partial/form.blade.php --&gt;

...
&lt;div class="form-group"&gt;
  &lt;label for="my-dropzone"&gt;Files&lt;/label&gt;
  &lt;div id="my-dropzone" class="dropzone"&gt;&lt;/div&gt;
&lt;/div&gt;
...

@section('script')
  &lt;script&gt;
    Dropzone.autoDiscover = false;

    var myDropzone = new Dropzone("div#my-dropzone", {
      url: "/files",
    }
  &lt;/script&gt;
@stop</code></pre>
<p><img src="./images/39-attachments-img-01.png" alt="" /></p>
<p>여기까지 <em>'1. 'articles.create' 폼에서 Ajax 로 첨부파일을 업로드 한다.'</em> 였다. 브라우저의 개발자 도구의 네트워크 탭을 켜 놓고, Dropzone UI 에 파일을 놓아 보면, 실제로 'POST /files' Route 로 요청이 나가는 것이 보일 것이다. 물론, 아직 서버에서 받아 주지 않기 때문에 에러가 발생할 것이다.</p>
<h3>첨부파일 저장 로직 구현</h3>
<p><em>'2. <code>AttachmentsController::store()</code> 메소드에서 처리하고, 처리된 파일의 id, 컨텐트 타입, 전체 Url을 JSON으로 내려준다.'</em> 부분을 구현할 것이다.</p>
<h4>Route 작성</h4>
<p>'public/attachments' 라는 디렉토리를 첨부파일 저장 위치로 만들었기 때문에, Route 엔드포인트를 'attachments' 로 할 수 없다. 해서 앞 절에서 'files'로 했다.</p>
<pre><code class="language-php">// app/Http/routes.php

Route::resource('files', 'AttachmentsController', ['only' =&gt; ['store', 'destroy']]);</code></pre>
<h4>컨트롤러 작성</h4>
<p>RESTful 리소스 컨트롤러를 사용했는데, 세번째 인자로 'only' 키워드를 이용하여 <code>store()</code> 와 <code>destroy()</code> 메소드만 사용하는 것으로 정의했다. 특정 메소드만 제외하고 싶으면 <code>['except' =&gt; ['show']]</code> 처럼 'except' 키워드를 이용할 수 있다.</p>
<pre><code class="language-bash">$ php artisan make:controller AttachmentsController</code></pre>
<pre><code class="language-php">// app/Http/Controllers/AttachmentsController.php

public function store(Request $request)
{
    if (! $request-&gt;hasFile('file')) {
        return response()-&gt;json('File not passed !', 422);
    }

    $file = $request-&gt;file('file');
    $name = time() . '_' . str_replace(' ', '_', $file-&gt;getClientOriginalName());
    $file-&gt;move(attachment_path(), $name);

    $attachment = \App\Attachment::create(['name' =&gt; $name]);

    return response()-&gt;json([
        'id'   =&gt; $attachment-&gt;id,
        'name' =&gt; $name,
        'type' =&gt; $file-&gt;getClientMimeType(),
        'url'  =&gt; sprintf("/attachments/%s", $name),
    ]);
}</code></pre>
<p><code>! $request-&gt;hasFile('file')</code> 부분에서 'file' 필드가 있는 지 확인한다. 없으면, <code>response()-&gt;json()</code> 메소드로 파일이 없다는 메시지를 JSON 으로 응답한다.</p>
<p><code>$request-&gt;file('file')</code> 로 <code>Symfony\Component\HttpFoundation\File\UploadedFile</code> 인스턴스를 얻어 온다. 이 인스턴스에서 <code>move()</code>, <code>getClientOriginalName()</code>, <code>getClientMimeType()</code>, <code>getClientOriginalExtension()</code> 등의 메소드를 사용할 수 있다. 파일 이름 중복을 피하기 위해 <code>time()</code> php 내장 함수를 파일명 앞에서 붙여 주었다. <code>move()</code> 메소드로 'public/attachments' 디렉토리에 파일을 저장하였다.</p>
<p>Attachment 모델을 만들고, JSON 응답에 'id', 'name', 'type', 'url' 등의 필드 값을 포함하였다.</p>
<p>그런데, 여기까지 작업하고 폼에서 파일을 업로드해 보면 에러가 날 것이다. 이유는 attachments 테이블의 article_id는 articles 테이블에 외래키 관계가 걸려있기 때문이다. 다시 말하면, attachments 테이블에 레코드를 생성할 때, articles 테이블에 존재하는 id 값이 이 테이블의 article_id 로 연결되어야 하는데, 현재는 article_id 를 알 수 없기 때문에 발생하는 것이다. 마이그레이션을 수정하고 다시 실행해 보자.</p>
<pre><code class="language-php">// database/migrations/create_attachments_table.php

// 아래 라인을 주석 처리하자.
// $table-&gt;foreign('article_id')-&gt;references('id')-&gt;on('articles')-&gt;onDelete('cascade');</code></pre>
<pre><code class="language-bash">$ php artisan migrate:refresh --seed</code></pre>
<p>다시 테스트 해 보자. public/attachments 에 파일이 잘 업로드 되었고, attachments 테이블에 article_id 가 없는 새로운 레코드가 추가되었는지 확인해야 한다.</p>
<p><img src="./images/39-attachments-img-02.png" alt="" /></p>
<p><strong><code>참고</code></strong> 여기서 의문!!! &quot;파일만 업로드해 놓고 포럼 작성 또는 수정을 포기하면 어떻게 하나요?&quot; 이런 의문이 들었어야 한다. JS 쪽에서 많은 부분을 구현할 수록, 즉 브라우저에 자유도를 많이 줄 수록 (반면 사용자 UX는 좋아질수록), 이런 문제는 많아진다. 서버에서 crontab을 이용해서 article_id가 없는 Attachment 모델을 주기적으로 청소할 것이다. 라라벨에는 cron 을 쉽게 작성할 수 있는 기능이 포함되어 있고, 이 코스에서 곧 만나게 될 것이다. </p>
<h3>다시 폼으로</h3>
<p><em>'3. 폼 페이지는 서버에서 받은 JSON의 id, 즉 서버에 이미 저장된 Attachment 모델의 id 값들을 attachments[] 라는 필드 이름으로 폼에 추가한다.'</em> 부분을 구현할 차례다. <a href="http://www.dropzonejs.com/#events">Dropzone.js 의 이벤트 부분</a>을 참고하여 JS 코드를 작성해 보자.</p>
<pre><code class="language-javascript">// resources/views/articles/partial/form.blade.php

var myDropzone = new Dropzone("div#my-dropzone", {...});

myDropzone.on("success", function(file, data) {
  $("&lt;input&gt;", {
    type: "hidden",
    name: "attachments[]",
    class: "attachments",
    value: data.id
  }).appendTo(form);
});</code></pre>
<p>Dropzone.js의 'success' 이벤트는 앞서 지정한 'POST /files' Route 로의 요청에서 200 OK 응답을 받았음을 의미한다. <code>on()</code> 메소드의 두번째 인자인 콜백에서, <code>&lt;input type="hidden" name="attachments[]" value=""&gt;</code> 와 같은 숨김 입력 필드를 동적으로 만들고 (== DOM 조작), <code>&lt;form&gt;</code> 태그의 자식 태그로 추가한다. 가령, 첨부파일을 3개 업로드해서 모두 성공했고, 응답된 Attachment id 가 21, 22, 23 이라면, JS에 의해 이 페이지에 동적을 추가되는 필드는 아래와 같다.</p>
<pre><code class="language-html">&lt;form ...&gt;
  &lt;input type="hidden" name="attachments[]" value="21"&gt;
  &lt;input type="hidden" name="attachments[]" value="22"&gt;
  &lt;input type="hidden" name="attachments[]" value="23"&gt;
&lt;/form&gt;</code></pre>
<p>이 상태에서 폼 전송을 하면, 당연히 'attachments[]' 필드들도 같이 서버로 전송될 것이다.</p>
<p><img src="./images/39-attachments-img-03.png" alt="" /></p>
<p><strong><code>참고</code></strong> 여기서 또 의문!!! 가령, 사용자가 크롬 개발자 도구에서 'attachments[]' 의 필드값을 23에서 10으로 변경하거나, 숨김 필드를 고의적으로 수십 개만들어서 요청하면, 보안상 문제 있는 것 아닌가요? 맞다. 앞의 예처럼 사용자가 조작한 Attachment의 id가 이미 존재하는 id라면, 첨부파일이 엉뚱한 Article 에 연결될 수 있다. 원래 서버의 모델 id 를 연속된 값으로 사용하는 것은 Anti-Pattern이고, 사용자가 예측할 수 없는 난수를 사용하는 것이 정석인데, 이 강좌에서 이 내용까지 포함하는 것은 오버라 생각된다. 다음 절에서 엘로퀀트의 <code>whereIn()</code> 를 이용하므로, 없는 id 로 조작하는 것에 대해서는 안전하다는 것까지만 알고 넘어가자.</p>
<h3>컨트롤러 마무리</h3>
<p><em>'4. 폼이 전송되면, <code>ArticlesController::store()</code> 에서, 현재 생성하는 Article 과 attachments[] 필드로 넘겨 받은 id 들을 연결시켜 준다.'</em> 부분을 구현하기 위해 <code>ArticlesController::store()</code> 메소드를 재방문한다. 첨부파일은 Dropzone.js의 Ajax 요청에 의해 <code>AttachmentsController@store</code> 에서 'article_id'가 없는 상태로 이미 생성되었다는 것을 기억하자. </p>
<pre><code class="language-php">// app/Http/Controllers/ArticlesController.php

public function store(ArticlesRequest $request)
{
    // ...

    if ($request-&gt;has('attachments')) {
        $attachments = \App\Attachment::whereIn('id', $request-&gt;input('attachments'))-&gt;get();
        $attachments-&gt;each(function($attachment) use($article) {
            $attachment-&gt;article()-&gt;associate($article);
            $attachment-&gt;save();
        });
    }

    // ...
}</code></pre>
<p><code>$request-&gt;input('attachments')</code> 는 앞 절에서 JS의 의해 동적으로 생성한 폼 데이터들의 값이고, 배열 형태를 가진다. 이 예제에서 <code>whereIn(string $column, array $values)</code> 메소드는 <code>whereIn('id', [21, 22, 23])</code> 과 같이 해석되어, Attachment 모델에서 id 가 21, 22, 23 번으로 이루어진 Collection을 <code>$attachments</code> 변수에 담는다. <code>$attachments</code> Collection 에 대해 루프를 돌면서, Attachment 모델 생성과정에서 입력하지 못한, 'article_id' 필드를 업데이트한다. <code>$attachment-&gt;article()-&gt;associate($article)</code> 는 <code>$attachment-&gt;article_id = $article-&gt;id</code> 와 같은 의미로 이해하면 된다.</p>
<p><img src="./images/39-attachments-img-04.png" alt="" /></p>
<h3>포럼 수정에서 첨부파일 업로드 구현</h3>
<h4>수정 폼 구현</h4>
<p>이제 수정 폼 (e.g. 'GET /articles/1/edit') 을 브라우저에서 열어보자. 아주 정상적으로 잘 표시될 것이다. 그런데, 포럼 작성 폼과 달리 수정 폼에서는 Article id 를 이미 가지고 있다. <code>AttachmentsController::store()</code> 로 전송되는 폼 데이터에 Article id 가 포함되어야 한다. <em>1. 1 'articles.edit' 폼에서 Ajax 데이터에 Article id를 달아서 첨부파일을 업로드한다.</em> 부분이다.</p>
<pre><code class="language-javascript">// resources/views/articles/partial/form.blade.php

var myDropzone = new Dropzone("div#my-dropzone", {
  url: "/files",
  params: {
    _token: "{{ csrf_token() }}",
    articleId: "{{ $article-&gt;id }}"
  }
});</code></pre>
<h4>컨트롤러 수정</h4>
<p><em>2. 2 <code>AttachmentsController::store()</code> 메소드에서 생성된 Attachment 모델을 넘겨 받은 Article id 에 연결시킨다.</em> 부분을 구현할 것이다.</p>
<pre><code class="language-php">// app/Http/Controllers/AttachmentsController.php 

public function store(Request $request)
{
    // ...
    $file-&gt;move(attachment_path(), $name);

    $articleId = $request-&gt;input('articleId');

    $attachment = $articleId
        ? \App\Article::findOrFail($articleId)-&gt;attachments()-&gt;create(['name' =&gt; $name])
        : \App\Attachment::create(['name' =&gt; $name]);

    // return response() ...
}</code></pre>
<p>동일한 폼으로 동일한 컨트롤러가 반응하기 위해서 <code>$request-&gt;input('articleId')</code> 가 true 이면 <code>Article::attachments()</code> 관계를 이용하여 Attachment 모델을 생성하고, false 이면 Attachment 모델을 바로 생성하고 <code>ArticlesController::store()</code> 에서 <code>Attachment::$article_id</code> 를 업데이트할 여지를 남겨 두었다.</p>
<p>테스트해 보자. 포럼 생성에서 첨부파일 업로드, 포럼 수정에서 첨부파일 업로드, 모두 잘 동작하는 것을 확인할 수 있을 것이다.</p>
<h3>Final Touch</h3>
<h4>첨부 파일 목록 표시 및 삭제 구현</h4>
<p>포럼 상세 보기에서 첨부된 파일을 볼 수 있었으면 좋겠다. 'attachments.partial.list' 에 첨부파일 리스트를 출력하는 뷰를 생성하고, 'articles.show' 뷰에 <code>@include</code> 하였다.</p>
<pre><code class="language-html">&lt;!-- resources/views/articles/show.blade.php --&gt;

&lt;div class="col-md-9"&gt;
  &lt;article&gt;
    @include('articles.partial.article', ['article' =&gt; $article])

    @include('attachments.partial.list', ['attachments' =&gt; $article-&gt;attachments])

    &lt;!-- ... --&gt;
  &lt;/article&gt;
&lt;/div&gt;</code></pre>
<p>작업하는 김에 관리자나 포럼 글의 소유자이면 첨부파일을 삭제할 수 있는 기능도 추가하였다.</p>
<pre><code class="language-html">&lt;!-- resources/views/attachments/partial.list.blade.php --&gt;

@if ($attachments-&gt;count())
  &lt;ul class="tags__forum"&gt;
    @foreach ($attachments as $attachment)
      &lt;li class="label label-default"&gt;
        {!! icon('download') !!}
        &lt;a href="/attachments/{{ $attachment-&gt;name }}"&gt;{{ $attachment-&gt;name }}&lt;/a&gt;
        @if (auth()-&gt;user()-&gt;isAdmin() or $article-&gt;isAuthor())
          &lt;form action="{{ route('files.destroy', $attachment-&gt;id) }}" method="post" style="display: inline;"&gt;
            {!! csrf_field() !!}
            {!! method_field('DELETE') !!}
            &lt;button type="submit"&gt;x&lt;/button&gt;
          &lt;/form&gt;
        @endif
      &lt;/li&gt;
    @endforeach
  &lt;/ul&gt;
@endif</code></pre>
<p>Ajax 로 첨부파일을 삭제할 경우를 대비해, <code>if (\Request::ajax())</code> 부분이 들어갔다.</p>
<pre><code class="language-php">// app/Http/Controllers/AttachmentsController.php

public function destroy($id)
{
    $attachment = \App\Attachment::findOrFail($id);

    $path = attachment_path($attachment-&gt;name);
    if (\File::exists($path)) {
        \File::delete($path);
    }

    $attachment-&gt;delete();

    if (\Request::ajax()) {
        return response()-&gt;json(['status' =&gt; 'ok']);
    }

    flash()-&gt;success(trans('forum.deleted'));

    return back();
}</code></pre>
<p><img src="./images/39-attachments-img-05.png" alt="" /></p>
<h4>Article 삭제</h4>
<p>놓치기 쉬운데, Article 모델이 삭제되면 연결된 Attachment 모델 및 첨부파일들도 삭제되어야 한다.</p>
<pre><code class="language-php">// app/Http/Controllers/ArticlesController.php

public function destroy($id)
{
    $article = Article::with('attachments')-&gt;findOrFail($id);

    foreach($article-&gt;attachments as $attachment) {
        \File::delete(attachment_path($attachment-&gt;name));
        $attachment-&gt;delete();
    }

    $article-&gt;delete();

    flash()-&gt;success(trans('forum.deleted'));

    return redirect(route('articles.index'));
}</code></pre>
<h4>부가 기능 참고</h4>
<p>첨부파일이 이미지일 경우, 첨부된 이미지를 <code>&lt;textarea name='content'&gt;&lt;/textarea&gt;</code> 영역의 최종 커서 위치에 이미지 마크다운으로 추가하는 기능과, 첨부파일을 업로드했지만 작성 또는 수정 폼을 전송하기 전에 이미 서버에 생성된 첨부파일을 Ajax 요청으로 삭제할 수 있는 기능을 추가적으로 구현했다. JS 내용이라 설명은 생략한다.</p>
<pre><code class="language-html">&lt;!-- resources/views/articles/partial/form.blade.php --&gt;

@section('script')
  &lt;script&gt;
    // ...

    var insertImage = function(objId, imgUrl) {
      var caretPos = document.getElementById(objId).selectionStart;
      var textAreaTxt = $("#" + objId).val();
      var txtToAdd = "![](" + imgUrl + ")";
      $("#" + objId).val(
        textAreaTxt.substring(0, caretPos) +
        txtToAdd +
        textAreaTxt.substring(caretPos)
      );
    };

    myDropzone.on("success", function(file, data) {
      file._id = data.id;
      file._name = data.name;

      $("&lt;input&gt;", {
        type: "hidden",
        name: "attachments[]",
        class: "attachments",
        value: data.id
      }).appendTo(form);

      if (/^image/.test(data.type)) {
        insertImage('content', data.url);
      }
    });

    myDropzone.on("removedfile", function(file) {
      $.ajax({
        type: "POST",
        url: "/files/" + file._id,
        data: {
          _method: "DELETE",
          _token: $('meta[name="csrf-token"]').attr('content')
        }
      }).success(function(data) {
        console.log(data);
      })
    });
  &lt;/script&gt;
@stop</code></pre>
<!--@start-->
<hr />
<ul>
<li><a href="../readme.md">목록으로 돌아가기</a></li>
<li><a href="38-tags.md">38강 - Tag 기능 구현</a></li>
<li><a href="32n33-auth-refactoring.md">32/33 보충 - 인증 리팩토링</a></li>
<li><a href="40-comments.md">40강 - Comment 기능 구현</a>
<!--@end--></li>
</ul>

            <hr/>

            <nav id="pagination">
  <ul class="pager pager-bottom">
    <li class="previous ">
      <a href="/lessons/38-tags.html">
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_left</i>
        </span>
        <span class="pager-title">
          38강 - Tag 기능 구현
        </span>
      </a>
    </li>
    <li class="next ">
      <a href="/lessons/32n33-auth-refactoring.html">
        <span class="pager-title">
          32/33 보충 - 인증 리...
        </span>
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
      </a>
    </li>
  </ul>
</nav>                  </article>

        <hr class="divider">

        <div id="comment">
          <div class="comments" style="margin-bottom: 30px;">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//l5lessons.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  <!--script id="dsq-count-scr" src="//l5lessons.disqus.com/count.js" async></script-->
</div>        </div>
      </div>
    </div>
  </div>

  <div id="toggler">
    <a href="#" title="Open Menu">
      목록 토글
    </a>
  </div>

  <footer id="footer">
  <div>
    &copy; 2019 &nbsp; <a href="https://github.com/appkr">appkr</a> •
    Built with <a href="http://jigsaw.tighten.co/">Jigsaw</a> •
    Hosted by <a href="https://pages.github.com/">Github</a> •
    <a href="/feed.xml">Rss</a>
  </div>
</footer>

<div id="back-to-top">
  <a href="#" title="Scroll to Top">
    <i class="material-icons">keyboard_arrow_up</i>
  </a>
</div>
  <script src="/js/all.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71112324-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
