<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

  <meta name="description" content="API 클라이언트 중에는 Ajax(XHR) 요청을 브라우저도 있을 수 있다. 브라우저에서는 동일 출처 보안 정책(CORS, Cross Origin Resource Sharing)이란 것이 있어, 서버로 부터 데이터를 받았더라도 브라우저가 데이터를 사용하지 못하도록 막는다. 이 문제룰 해결하는 방법을 살펴본다."/>
  <meta name="google-site-verification" content="ToXKBimREnz49pDNot4b-N9ZJgYcKXPPsHsjhg4Zzuc"/>
  <meta name="naver-site-verification" content="7cebcc8e5493169f5401870d9ce57f48d18491cd"/>

  <meta name="msapplication-tap-highlight" content="no"/>

  <!-- Facebook Meta -->
  <meta property="og:title" content="라라벨 5 입문 및 실전 / 51강 - CORS"/>
  <meta property="og:type" content="Website"/>
  <meta property="og:author" content="appkr (juwonkim@me.com)"/>
  <meta property="og:image" content=""/>

  <!-- Google+ Meta -->
  <meta itemprop="name" content="라라벨 5 입문 및 실전 / 51강 - CORS">
  <meta itemprop="description" content="API 클라이언트 중에는 Ajax(XHR) 요청을 브라우저도 있을 수 있다. 브라우저에서는 동일 출처 보안 정책(CORS, Cross Origin Resource Sharing)이란 것이 있어, 서버로 부터 데이터를 받았더라도 브라우저가 데이터를 사용하지 못하도록 막는다. 이 문제룰 해결하는 방법을 살펴본다.">
  <meta itemprop="image" content="">
  <meta itemprop="author" content="appkr (juwonkim@me.com)"/>

  <!-- Twitter Meta -->
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@appkrs"/>
  <meta name="twitter:title" content="라라벨 5 입문 및 실전 / 51강 - CORS"/>
  <meta name="twitter:description" content="API 클라이언트 중에는 Ajax(XHR) 요청을 브라우저도 있을 수 있다. 브라우저에서는 동일 출처 보안 정책(CORS, Cross Origin Resource Sharing)이란 것이 있어, 서버로 부터 데이터를 받았더라도 브라우저가 데이터를 사용하지 못하도록 막는다. 이 문제룰 해결하는 방법을 살펴본다."/>
  <meta name="twitter:image" content=""/>
  <meta name="twitter:domain" content="http://l5.appkr.kr/">

  <!-- Mobile and Rss -->
  <link rel="canonical" href="http://l5.appkr.kr/"/>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/earlyaccess/nanumgothic.css"/>
  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="/css/main.css">

  <title>라라벨 5 입문 및 실전 / 51강 - CORS</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body id="#app">
  <nav class="navbar navbar-fixed-top role="navigation">

  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <i class="material-icons">school</i>
        라라벨 5 입문 및 실전
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <aside id="sidebar" class="col-md-3">
        <ul>
                      <li  index="0" current-index="53">
              <a href="/lessons/01-welcome.html">1강 - 처음 만나는 라라벨</a>
            </li>
                      <li  index="1" current-index="53">
              <a href="/lessons/02-hello-laravel.html">2강 - 라라벨 5 설치하기</a>
            </li>
                      <li  index="2" current-index="53">
              <a href="/lessons/02-install-on-windows.html">2강 - 라라벨 5 설치하기 (on Windows)</a>
            </li>
                      <li  index="3" current-index="53">
              <a href="/lessons/03-configuration.html">3강 - 글로벌 설정 살펴보기</a>
            </li>
                      <li  index="4" current-index="53">
              <a href="/lessons/04-routing-basics.html">4강 - Routing 기본기</a>
            </li>
                      <li  index="5" current-index="53">
              <a href="/lessons/05-pass-data-to-view.html">5강 - 뷰에 데이터 바인딩하기</a>
            </li>
                      <li  index="6" current-index="53">
              <a href="/lessons/06-blade-101.html">6강 - 블레이드 101</a>
            </li>
                      <li  index="7" current-index="53">
              <a href="/lessons/07-blade-201.html">7강 - 블레이드 201</a>
            </li>
                      <li  index="8" current-index="53">
              <a href="/lessons/08-raw-queries.html">8강 - 날 쿼리 :(</a>
            </li>
                      <li  index="9" current-index="53">
              <a href="/lessons/09-query-builder.html">9강 - 쿼리 빌더</a>
            </li>
                      <li  index="10" current-index="53">
              <a href="/lessons/10-eloquent.html">10강 - 엘로퀀트 ORM</a>
            </li>
                      <li  index="11" current-index="53">
              <a href="/lessons/11-migration.html">11강 - DB 마이그레이션</a>
            </li>
                      <li  index="12" current-index="53">
              <a href="/lessons/12-controller.html">12강 - 컨트롤러</a>
            </li>
                      <li  index="13" current-index="53">
              <a href="/lessons/13-restful-resource-controller.html">13강 - RESTful 리소스 컨트롤러</a>
            </li>
                      <li  index="14" current-index="53">
              <a href="/lessons/14-named-routes.html">14강 - 이름 있는 Route</a>
            </li>
                      <li  index="15" current-index="53">
              <a href="/lessons/15-nested-resources.html">15강 - 중첩된 리소스</a>
            </li>
                      <li  index="16" current-index="53">
              <a href="/lessons/16-authentication.html">16강 - 사용자 인증 기본기</a>
            </li>
                      <li  index="17" current-index="53">
              <a href="/lessons/17-authentication-201.html">17강 - 라라벨에 내장된 사용자 인증</a>
            </li>
                      <li  index="18" current-index="53">
              <a href="/lessons/18-eloquent-relationships.html">18강 - 모델간 관계 맺기</a>
            </li>
                      <li  index="19" current-index="53">
              <a href="/lessons/19-seeder.html">19강 - 데이터 심기</a>
            </li>
                      <li  index="20" current-index="53">
              <a href="/lessons/20-eager-loading.html">20강 - Eager 로딩</a>
            </li>
                      <li  index="21" current-index="53">
              <a href="/lessons/20-1-pagination.html">추가 - 페이징</a>
            </li>
                      <li  index="22" current-index="53">
              <a href="/lessons/21-mail.html">21강 - 메일 보내기</a>
            </li>
                      <li  index="23" current-index="53">
              <a href="/lessons/22-events.html">22강 - 이벤트</a>
            </li>
                      <li  index="24" current-index="53">
              <a href="/lessons/23-validation.html">23강 - 입력 값 유효성 검사</a>
            </li>
                      <li  index="25" current-index="53">
              <a href="/lessons/24-exception-handling.html">24강 - 예외 처리</a>
            </li>
                      <li  index="26" current-index="53">
              <a href="/lessons/25-composer.html">25강 - 컴포저</a>
            </li>
                      <li  index="27" current-index="53">
              <a href="/lessons/26-document-model.html">26강 - Document 모델</a>
            </li>
                      <li  index="28" current-index="53">
              <a href="/lessons/27-document-controller.html">27강 - Document 컨트롤러</a>
            </li>
                      <li  index="29" current-index="53">
              <a href="/lessons/28-cache.html">28강 - Cache</a>
            </li>
                      <li  index="30" current-index="53">
              <a href="/lessons/29-elixir.html">29강 - Elixir, 만병통치약?</a>
            </li>
                      <li  index="31" current-index="53">
              <a href="/lessons/30-final-touch.html">30강 - Debug &amp; Final Touch</a>
            </li>
                      <li  index="32" current-index="53">
              <a href="/lessons/31-forum-features.html">31강 - 포럼 요구사항 기획</a>
            </li>
                      <li  index="33" current-index="53">
              <a href="/lessons/32-login.html">32강 - 사용자 로그인</a>
            </li>
                      <li  index="34" current-index="53">
              <a href="/lessons/33-social-login.html">33강 - 소셜 로그인</a>
            </li>
                      <li  index="35" current-index="53">
              <a href="/lessons/34-role.html">34강 - 사용자 역할</a>
            </li>
                      <li  index="36" current-index="53">
              <a href="/lessons/35-locale.html">35강 - 다국어 지원</a>
            </li>
                      <li  index="37" current-index="53">
              <a href="/lessons/36-models.html">36강 - 마이그레이션과 모델</a>
            </li>
                      <li  index="38" current-index="53">
              <a href="/lessons/37-articles.html">37강 - Article 기능 구현</a>
            </li>
                      <li  index="39" current-index="53">
              <a href="/lessons/38-tags.html">38강 - Tag 기능 구현</a>
            </li>
                      <li  index="40" current-index="53">
              <a href="/lessons/39-attachments.html">39강 - Attachment 기능 구현</a>
            </li>
                      <li  index="41" current-index="53">
              <a href="/lessons/32n33-auth-refactoring.html">32/33 보충 - 인증 리팩토링</a>
            </li>
                      <li  index="42" current-index="53">
              <a href="/lessons/40-comments.html">40강 - Comment 기능 구현</a>
            </li>
                      <li  index="43" current-index="53">
              <a href="/lessons/41-ui-makeup.html">41강 - UI 개선</a>
            </li>
                      <li  index="44" current-index="53">
              <a href="/lessons/42-be-makeup.html">42강 - 서버 사이드 개선</a>
            </li>
                      <li  index="45" current-index="53">
              <a href="/lessons/43-change-note.html">43강 - 변경 사항 알림</a>
            </li>
                      <li  index="46" current-index="53">
              <a href="/lessons/44-api-basic.html">44강 - API 기본기 및 기획</a>
            </li>
                      <li  index="47" current-index="53">
              <a href="/lessons/45-api-big-picture.html">45강 - 기본 구조 잡기</a>
            </li>
                      <li  index="48" current-index="53">
              <a href="/lessons/46-jwt.html">46강 - JWT 를 이용한 인증</a>
            </li>
                      <li  index="49" current-index="53">
              <a href="/lessons/47-dry-refactoring.html">47강 - 중복 제거 리팩토링</a>
            </li>
                      <li  index="50" current-index="53">
              <a href="/lessons/48-all-is-bad.html">48강 - all() is bad</a>
            </li>
                      <li  index="51" current-index="53">
              <a href="/lessons/49-rate-limit.html">49강 - API Rate Limit</a>
            </li>
                      <li  index="52" current-index="53">
              <a href="/lessons/50-id-obfuscation.html">50강 - 리소스 id 난독화</a>
            </li>
                      <li class="active" index="53" current-index="53">
              <a href="/lessons/51-cors.html">51강 - CORS</a>
            </li>
                      <li  index="54" current-index="53">
              <a href="/lessons/52-caching.html">52강 - Caching</a>
            </li>
                      <li  index="55" current-index="53">
              <a href="/lessons/53-partial-response.html">53강 - Partial Response</a>
            </li>
                      <li  index="56" current-index="53">
              <a href="/lessons/54-api-docs.html">54강 - API Documents</a>
            </li>
                      <li  index="57" current-index="53">
              <a href="/lessons/02-install-homestead-osx.html">Homestead 설치 (on Mac)</a>
            </li>
                      <li  index="58" current-index="53">
              <a href="/lessons/02-install-homestead-windows.html">Homestead 설치 (on Windows)</a>
            </li>
                      <li  index="59" current-index="53">
              <a href="/lessons/999-code-release.html">코드 배포</a>
            </li>
                  </ul>
      </aside>

      <div class="col-md-9">
        <article id="article">
                      <nav id="pagination">
  <ul class="pager pager-top">
    <li class="previous ">
      <a href="/lessons/50-id-obfuscation.html">
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_left</i>
        </span>
        <span class="pager-title">
          50강 - 리소스 id 난...
        </span>
      </a>
    </li>
    <li class="next ">
      <a href="/lessons/52-caching.html">
        <span class="pager-title">
          52강 - Caching
        </span>
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
      </a>
    </li>
  </ul>
</nav>
            <hr/>

            <h1>실전 프로젝트 3 - RESTful API</h1>
<h2>51강 - CORS</h2>
<p>이번 강좌에서는 <a href="https://en.wikipedia.org/wiki/Cross-origin_resource_sharing">CORS (Cross Origin Resource Sharing)</a> 에 대해 공부해 보자. 개념적으로는 굉장히 어려운 내용이지만, 해결 방법 자체는 엄청 간단하다. </p>
<h3>CORS 란?</h3>
<p>개념을 알고 넘어 가야 한다. 어려운 개념을 복잡하게 설명하면 고수가 아니다. 필자도 잘 모르기 때문에 딱 눈 높이에 맟추어 설명하자면... </p>
<ul>
<li>
<p>일단 CORS 이슈는 JavaScript 를 이용하는 API Client 에서만 발생한다. </p>
<p>Android, iOS 에서는 신경쓸 필요가 없다. 왜냐하면, 브라우저를 통한 Ajax (== <code>XMLHttpRequest</code>) 요청을 할 때만, Same Origin Security Policy 가 적용되기 때문이다. XSS (== Cross Site Script) 공격을 방지하기 위해, W3C 와 브라우저 벤더들이 그렇게 하기로 오래전에 약속했다.</p>
</li>
<li>
<p>Same Origin Security Policy (== 동일 출처 보안 정책) 란...</p>
<p>foo.com 에서 동작하는 JavaScript 가 bar.com 에 있는 API 서버에 Ajax 요청을 할 수 없다는 것이다. 심지어 <a href="http://foo.com">http://foo.com</a> -&gt; <a href="https://foo.com">https://foo.com</a> 뿐 아니라, <a href="http://foo.com">http://foo.com</a> -&gt; <a href="http://foo.com:8080">http://foo.com:8080</a> 도 동작하지 않는다. 왜냐하면, JavaScript 는 태생적으로 클라이언트에 다운로드 되어 사용되는 프로그램이라, JavaScript 코드를 사용자가 임의로 변경할 수 있기 때문이다. </p>
</li>
</ul>
<p>아래는 이번 강좌를 위해 개발한 JavaScript 기반의 <a href="https://github.com/appkr/api-client-demo"><code>appkr/api-client-demo</code></a> 코드를 <a href="http://localhost:3000">http://localhost:3000</a> 에서 구동하고, <a href="http://api.myproject.dev:8000">http://api.myproject.dev:8000</a> API 서버에 리소소를 요청하는 그림이다. </p>
<p><img src="./images/51-cors-img-01.png" alt="" /></p>
<p>JavaScript 기반의 SPA (== Single Page Application) 들이 계속 늘어나고 있고, 클라이언트와 서버는 API 로 데이터만 주고 받고, 뷰/UI 는 클라이언트 쪽에 모두 맡기는 것이 모던 웹 개발의 베스트 프렉티스라는 점을 감안한다면, API 서버를 개발하는 백엔드 개발자 입장에서 Same Origin Security Policy 문제는 반드시 해결해야 할 숙제이다. </p>
<h3>해결방안</h3>
<p>여러가지 방법이 있다.</p>
<ol>
<li>
<p><code>JSONP</code> 를 이용하는 방법. </p>
<p>Legacy 이다. CORS 이슈가 대두된게 10년이 넘었고, W3C 스펙이 확정된지 5년이 넘었다. 쓰면 안된다는 얘기다. 게다가 JSONP 는 HTTP GET 요청만 적용할 수 있다는 한계도 있다.</p>
</li>
<li>
<p>Reverse Proxy 를 이용하는 방법. </p>
<p>Reverse Proxy (또는 L4) 가 클라이언트의 HTTP 요청을 보고, Reverse Proxy 내부에 위치한 web 또는 api 적절한 서버로 요청을 분기하는 방법이다. 클라이언트가 Reverse Proxy 주소로 요청하고, 서버오 Reverse Proxy 뒤에 있기에 문제가 발생하지 않는다. 다만, 자기 서비스에만 적용할 수 있다는 단점이 있다.</p>
</li>
<li>
<p>HTTP <code>Options</code> Pre-flight Request 를 이용해 White-list 하는 방법. </p>
<p>클라이언트가 HTTP <code>OPTIONS</code> 요청을 먼저 한 후, 응답을 해석한 후, 본 요청을 해야 한다. 서버 쪽에서도 로직이 복잡하다.</p>
</li>
<li><code>Origin</code> 및 <code>Access-Control-*</code> HTTP 헤더를 이용하는 방법. </li>
</ol>
<p>우리는 가장 간단한 4 번 방법을 이용할 것이다.</p>
<h3>패키지 설치</h3>
<p><a href="https://github.com/barryvdh/laravel-cors"><code>barryvdh/laravel-cors</code></a> 패키지를 이용할 것이다.</p>
<p>이 패키지가 의존하는 <a href="https://github.com/asm89/stack-cors"><code>asm89/stack-cors</code></a> 패키지의 Git Tagging 이 늦어, Composer 설치시 충돌이 발생한다. 우리는 아래와 같이 우회해서 설치할 것이다.</p>
<pre><code class="language-javascript">// composer.json

{
  // ...

  "require": {
    // ...
    "asm89/stack-cors": "dev-master as 0.2.2",
    "barryvdh/laravel-cors": "^0.7.3"
  }

  // ...
}</code></pre>
<pre><code class="language-bash">$ composer update</code></pre>
<p>공식 문서에 나온대로 ServiceProvider 를 활성화 해 준다.</p>
<pre><code class="language-php">// config/app.php

return [
    // ...

    'providers' =&gt; [
        // ...
        Barryvdh\Cors\ServiceProvider::class,
    ],

    // ...
];</code></pre>
<h3>CORS 기능 정합</h3>
<p>서두에 구현이 굉장히 간단하고 얘기했다. <code>barryvdh/laravel-cors</code> 패키지를 설치하고 나면, <code>cors</code> 라는 별칭을 가진 Route Middleware 를 사용할 수 있다. API 에만 이 미들웨어를 적용할 것이므로 가장 적절한 위치는 Route 정의 파일인 듯 하다.</p>
<pre><code class="language-php">// app/Http/routes.php

Route::group(['domain' =&gt; env('API_DOMAIN'), /* ... */, 'middleware' =&gt; 'cors'], function() {
    // ...
}</code></pre>
<p>이걸로 끝이다.</p>
<p><strong><code>참고</code></strong> Laravel 5.2 부터 Middleware Group 을 이용할 수 있다. 기본으로 <code>web</code>, <code>api</code> 두개의 그룹이 가용하다. 요는 여러개의 미들웨어를 모아 <code>api</code> 등의 별칭으로 한번에 적용할 수 있다는 것이다.</p>
<h3>살펴 보기</h3>
<p>설치한 <code>barryvdh/laravel-cors</code> 패키지와 <code>cors</code> 미들웨어는 어떤 일을 할까? </p>
<p><img src="./images/51-cors-img-02.png" alt="" /></p>
<p>JavaScript 클라이언트에서 Ajax 요청을 할 때 <code>Origin</code> HTTP Header 를 달아서 보내면, API 서버에서 응답할 때 <code>Access-Control-Allow-Origin</code> HTTP Header 를 내려주는 식이다. 그림을 보면, &quot;JavaScript 엔진아! 나 API 서버인데... <a href="http://localhost:3000">http://localhost:3000</a> 은 나랑 scheme:://host:port 가 달라도 내가 허용해 줄라니까, Same Origin Security Policy 적용하지 말고 내 Client 한테 데이터 좀 넘겨 줘~&quot; 라고 부탁하는 식이다. 왼쪽 클라이언트 화면을 보면, API 서버로 데이터를 받아 뷰를 정상적으로 렌더링한 것을 볼 수 있다. 요약하자면, <code>Origin</code> 요청 헤더를 검사하고, <code>Access-Control-*</code> 응답 헤더를 붙여 주는 역할을 한다. </p>
<p>이 패키지는 <code>Access-Control-*</code> 헤더 방식을 이용한 CORS Handling 만 하는 것이 아니라, 앞서 언급한 Pre-flight 방식도 지원한다.</p>
<h3>api-client-demo</h3>
<p>전체 코드는 <a href="https://github.com/appkr/api-client-demo"><code>appkr/api-client-demo</code></a> 에서 확인하기로 하자. 앞 강에서와 달리 <a href="http://vuejs.org/">Vue.js</a> 프레임웍을 이용하고 있고, API 서버에 Ajax 요청을 하는 부분은 아래와 같다.</p>
<pre><code class="language-javascript">// @appkr/api-client-demo
// app/scripts/main.js

(function(Vue, moment) {
  'use strict';

  var base = 'http://api.myproject.dev:8000';

  var vm = new Vue({
    el: '#demo',

    data: {
      articles: {}
    },

    ready: function() {
      var resource = this.$resource(base + '/v1/articles');

      resource.get('').then(function(response) {
        this.$set('articles', response.data.data);
      }, function(response) {
        console.log(response);
      });
    },

    filters: {
      // ...
    },

    http: {
      headers: {
        Accept: 'application/json'
      }
    }
  });
})(Vue, moment);</code></pre>
<p><a href="https://github.com/appkr/api-client-demo"><code>appkr/api-client-demo</code></a> 에서 뷰는 Bootstrap 대신 <a href="http://www.getmdl.io/">Google Material Design Lite</a> 를 사용하고 있다. <a href="https://cordova.apache.org/">Cordova</a> 를 이용하면 Android, iOS 모바일 앱으로도 패키징해서 사용해 볼 수 있다. </p>
<pre><code class="language-html">&lt;!-- @appkr/api-client-demo --&gt;
&lt;!-- app/index.html --&gt;

&lt;!-- ... --&gt;

&lt;main class="mdl-layout__content"&gt;
  &lt;div class="page-content" id="demo"&gt;
    &lt;div v-for="article in articles" class="mdl-card ..."&gt;&lt;!--repeat start--&gt;
      &lt;div class="mdl-card__title"&gt;
        &lt;h2 class="mdl-card__title-text"&gt;
          {{ article.title }}
        &lt;/h2&gt;
        &lt;div class="mdl-layout-spacer"&gt;&lt;/div&gt;
        &lt;span class="material-icons mdl-badge" data-badge="{{ article.view_count }}"&gt;
          done
        &lt;/span&gt;
        &lt;span class="material-icons mdl-badge" data-badge="{{ article.comments }}" v-if="article.comments"&gt;
          chat
        &lt;/span&gt;
        &lt;span class="material-icons mdl-badge" data-badge="{{ article.attachments }}" v-if="article.attachments"&gt;
          attachment
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="mdl-card__supporting-text"&gt;
        &lt;img src="images/user.jpg" class="avatar"&gt;
        {{{ article.content_raw }}}
        &lt;span class="composed-by"&gt;
          - Composed by {{ article.author.name }}, {{ article.created | formatDate }}
        &lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="mdl-card__actions mdl-card--border"&gt;
        &lt;a class="mdl-button ..." v-for="tag in article.tags"&gt; &lt;!--sub repeat start--&gt;
          {{ tag }}
        &lt;/a&gt; &lt;!--sub repeat end--&gt;
      &lt;/div&gt;
    &lt;/div&gt; &lt;!--repeat end--&gt;

    &lt;!-- ... --&gt;

  &lt;/div&gt;
&lt;/main&gt;

&lt;!-- ... --&gt;</code></pre>
<p><img src="./images/51-cors-img-03.png" alt="" /></p>
<!--@start-->
<hr />
<ul>
<li><a href="../readme.md">목록으로 돌아가기</a></li>
<li><a href="50-id-obfuscation.md">50강 - 리소스 id 난독화</a></li>
<li><a href="52-caching.md">52강 - Caching</a>
<!--@end--></li>
</ul>

            <hr/>

            <nav id="pagination">
  <ul class="pager pager-bottom">
    <li class="previous ">
      <a href="/lessons/50-id-obfuscation.html">
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_left</i>
        </span>
        <span class="pager-title">
          50강 - 리소스 id 난...
        </span>
      </a>
    </li>
    <li class="next ">
      <a href="/lessons/52-caching.html">
        <span class="pager-title">
          52강 - Caching
        </span>
        <span class="pager-title-sm">
          <i class="material-icons">keyboard_arrow_right</i>
        </span>
      </a>
    </li>
  </ul>
</nav>                  </article>

        <hr class="divider">

        <div id="comment">
          <div class="comments" style="margin-bottom: 30px;">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//l5lessons.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  <!--script id="dsq-count-scr" src="//l5lessons.disqus.com/count.js" async></script-->
</div>        </div>
      </div>
    </div>
  </div>

  <div id="toggler">
    <a href="#" title="Open Menu">
      목록 토글
    </a>
  </div>

  <footer id="footer">
  <div>
    &copy; 2019 &nbsp; <a href="https://github.com/appkr">appkr</a> •
    Built with <a href="http://jigsaw.tighten.co/">Jigsaw</a> •
    Hosted by <a href="https://pages.github.com/">Github</a> •
    <a href="/feed.xml">Rss</a>
  </div>
</footer>

<div id="back-to-top">
  <a href="#" title="Scroll to Top">
    <i class="material-icons">keyboard_arrow_up</i>
  </a>
</div>
  <script src="/js/all.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71112324-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
