@charset "utf-8";

@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/bootstrap-material-design/sass/bootstrap-material-design";
@import "../vendor/bootstrap-material-design/sass/ripples";

/* =variables */
$base-font-family: "Nanum Gothic", Roboto, Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.75;
$base-line-height: 1.8em;

$spacing-unit:     30px;

$text-color:       #9699a6;
$background-color: #FAFAFA;
$brand-color:      #00BFF3;
$selection-color:  $brand-color;

$navbar-default-bg:#222629;

$btn-default-bg:   #25292c;
$btn-primary-bg:   $brand-color;

$grey-color:       #E1E1E1;
$grey-color-light: #CDCfD7;
$grey-color-dark:  #A7A9A9;
$grey-very-light:  #F5F5F5;

$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

/* =global */
body {
  color:       $text-color;
  line-height: $base-line-height;
  background:  $background-color;
  -webkit-font-smoothing: subpixel-antialiased;
}

body>div.container{
  margin-top: 100px;
}

::selection {
  background: $selection-color;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: $selection-color;
  color: #FFF;
  text-shadow: none;
}

// Force override bootstrap by adding id (100 points)
body {
  font-family: $base-font-family;
}

/* =heading */
h1, h2, h3, h4, h5, h6 {
  text-space: -1px;
  font-weight: $base-font-weight;
}

/* =anchor */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    color: darken($brand-color, 10%);
    text-decoration: none;
  }
}

/* =blockquote */
blockquote {
  border: none;
  border-radius: 0;
  margin: 0 -30px 20px;
  padding: 30px;

  small, footer, cite {
    color: #FFF;
    font-size: $small-font-size;
  }

  footer {
    padding-left: 50px;
    margin-bottom: 10px;
  }

  cite {
    text-decoration: underline;
  }
}

blockquote, blockquote p {
  position: relative;
  font-size: $base-font-size * 1.2;
  font-style: italic;
  padding: $base-font-size;
  line-height: 1.5em;
  background-color: #EEE;
}

blockquote p:first-child {
  &:before {
    position: absolute;
    top: $base-font-size;
    left: 0;
  }
}

blockquote p:nth-of-type(2) {
  display: none;
}

.badge {
  background-color: $grey-color;
  font-weight: normal;
}

.material-icons {
  vertical-align: middle;
}

/* =nav */
.navbar {
  background-color: $navbar-default-bg;
  color: #FFF;
  margin-bottom: 40px;

  a, a:hover, a:focus {
    color: #FFF;
  }
}

/* =button */
.btn {
  height: 38px;
  padding-right: 20px;
  border-radius: 19px;
  color: #FFF;
  text-transform: none;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;

  &:hover, &:focus {
    opacity: 0.9;
    color: #FFF;
    transition: all .2s ease-in-out;
  }
}

.btn-default {
  background-color: $btn-default-bg;
}

.btn-primary {
  background-color: $btn-primary-bg;
}

.container img {
  width: 600px;
  max-width: 100%;
  display: block;
  margin: 16px auto;
  padding: 4px;
  border: 1px solid $grey-color-light;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  height: auto;

  a {
    border: none;
  }
}

/* =article */
#article {
  margin: 0 0 30px 0;
  padding: 30px;
  box-shadow: none;
  border-radius: 0;
  background-color: #FFF;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.2em;
    margin-bottom: 1em;

    &:hover .header-link {
      opacity: 1;
      cursor: pointer;
    }
  }

  h1 {font-size: (36 * 0.95) + px;}
  h2 {font-size: (30 * 0.95) + px;}
  h3 {font-size: (24 * 0.95) + px;}
  h4 {font-size: (18 * 0.95) + px;}

  h1:nth-of-type(1) {
    margin-top: 0;
  }

  p, :not(blockquote p) {
    margin: 0 0 1.2em;
  }

  /* =image */
  pre {
    border: none;
    border-radius: 0;
    margin: 1.6em -30px;
    padding: 1.6em 30px;
    color: #d4d7d6;
    background-color: $navbar-default-bg;
  }

  .hljs {
    display: block;
    background: #222324; color: #BABABA;
  }

  .hljs-comment,
  .hljs-template_comment,
  .hljs-javadoc {
    color: #888888;
  }

  .hljs-keyword,
  .ruby .hljs-function .hljs-keyword,
  .hljs-request,
  .hljs-status,
  .nginx .hljs-title {
    color: #F08D24;
  }

  .hljs-function .hljs-keyword,
  .hljs-sub .hljs-keyword,
  .method,
  .hljs-list .hljs-title {
    color: #68C244;
  }

  .hljs-string,
  .hljs-tag .hljs-value,
  .hljs-cdata,
  .hljs-filter .hljs-argument,
  .hljs-attr_selector,
  .apache .hljs-cbracket,
  .hljs-date,
  .tex .hljs-command,
  .coffeescript .hljs-attribute {
    color: #F2D42C;
  }

  .hljs-subst {
    color: #DAEFA3;
  }

  .hljs-regexp {
    color: #E9C062;
  }

  .hljs-title,
  .hljs-sub .hljs-identifier,
  .hljs-pi,
  .hljs-tag,
  .hljs-tag .hljs-keyword,
  .hljs-decorator,
  .hljs-shebang,
  .hljs-prompt {
    color: #E8341C;
  }

  .hljs-symbol,
  .ruby .hljs-symbol .hljs-string,
  .hljs-number {
    color: #8E69C9;
  }

  .hljs-params,
  .hljs-variable,
  .clojure .hljs-attribute {
    color: #1CC3E8;
  }

  .css .hljs-tag,
  .hljs-rules .hljs-property,
  .hljs-pseudo,
  .tex .hljs-special {
    color: #E8341C;
  }

  .css .hljs-class {
    color: #1CC3E8;
  }

  .hljs-rules .hljs-keyword {
    color: #1CC3E8;
  }

  .hljs-rules .hljs-value {
    color: #E8341C;
  }

  .css .hljs-id {
    color: #8B98AB;
  }

  .hljs-annotation,
  .apache .hljs-sqbracket,
  .nginx .hljs-built_in {
    color: #9B859D;
  }

  .hljs-preprocessor,
  .hljs-pragma {
    color: #8996A8;
  }

  .hljs-hexcolor,
  .css .hljs-value .hljs-number {
    color: #DD7B3B;
  }

  .css .hljs-function {
    color: #DAD085;
  }

  .diff .hljs-header,
  .hljs-chunk,
  .tex .hljs-formula {
    background-color: #0E2231;
    color: #F8F8F8;
    font-style: italic;
  }

  .diff .hljs-change {
    background-color: #4A410D;
    color: #F8F8F8;
  }

  .hljs-addition {
    background-color: #253B22;
    color: #F8F8F8;
  }

  .hljs-deletion {
    background-color: #420E09;
    color: #F8F8F8;
  }

  .coffeescript .javascript,
  .javascript .xml,
  .tex .hljs-formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .hljs-cdata {
    opacity: 0.5;
  }
}

.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  transition: opacity 0.2s ease-in-out 0.1s;
}

/* =comment */
#comment {
  margin: 0 0 30px 0;
  padding: 30px;
  box-shadow: none;
  border-radius: 0;
  background-color: #FFF;
}

/* =sidebar */
#sidebar  {
  padding: 30px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }

  li {
    padding: 0;

    &.active {
      background-color: $grey-color-dark;

      a {
        color: #FFF;
      }
    }
  }

  li>a {
    display: block;
    padding: 0.6em 24px;

    &:hover, &:focus {
      background-color: $brand-color;
      color: #FFF;
    }

    &:after {
      font-family: "Material Icons";
      content: "\E409";
      position: absolute;
      right: 24px;
    }
  }
}

/* =pagination */
#pagination {
  .pager {
    background-color: #FFF;

    & span, & i {
      margin-bottom: 0;
    }

    li a {
      background-color: $brand-color;
      padding: 12px 16px;
      border-radius: 0;
      border: none;
    }

    li.disabled a {
      background-color: $grey-color-light;
      color: $grey-color-dark;
    }

    a, a:hover, a:focus {
      color: #FFF;
    }
  }

  .pager-top {
    margin: 0 auto 30px;
  }

  .pager-bottom {
    margin: 30px auto;
  }
}

/* =site-footer */
#footer {
  background-color: $navbar-default-bg;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: $small-font-size;

  a, a:hover, a:focus {
    color: #FFF;
  }
}

#back-to-top {
  z-index: 999;
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 10px;
  background-color: rgba(0, 191, 243, 0.8);
  a, a:hover, a:focus {
    color: #FFF;
  }
}

/* =light-box */
.ekko-lightbox {
  a:hover {
    text-decoration: none;
    opacity: 1;
  }

  .left {
    left: 0;
    float: left;
    padding-left: 15px;
    text-align: left;
  }

  .right {
    right: 0;
    float: right;
    padding-right: 15px;
    text-align: right;
  }

  .modal-footer {
    text-align: left;
  }
}

.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;

  a {
    z-index: 100;
    display: block;
    width: 49%;
    height: 100%;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    opacity: 0;
    filter: dropshadow(color=#000000, offx=2, offy=2);
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  a:empty {
    width: 49%;
  }
}

#toggler {
  display: none;
  z-index: 999;
  position: fixed;
  bottom: 16px;
  left: 16px;
  padding: 10px;
  background-color: rgba(0, 191, 243, 0.8);

  a, a:hover, a:focus {
    color: #FFF;
    text-decoration: none;
  }
}

/* Tablet and under-size devices */
@media (max-width: $screen-md-min) {
  #article{
    h1 {font-size: (36 * 0.85) + px;}
    h2 {font-size: (30 * 0.85) + px;}
    h3 {font-size: (24 * 0.85) + px;}
    h4 {font-size: (18 * 0.85) + px;}

    pre {
      margin: 16px -16px;
      padding: 16px;
    }
  }

  blockquote, blockquote p {
    font-size: $base-font-size * 1.1;
    font-style: italic;
    padding: $base-font-size;
    line-height: 1.4em;
  }

  blockquote {
    footer {
      padding-left: 20px;
    }
  }

  #sidebar {
    display: none;
    overflow: hidden;
  }

  #toggler {
    display: block;
  }
}

/* Tablet and under-size devices */
@media (max-width: $screen-sm-min) {
  #article {
    blockquote, blockquote p {
      font-size: $base-font-size;
      font-style: italic;
      line-height: 1.3em;
    }

    blockquote {
      footer {
        padding-left: 16px;
      }
    }

    .container, .col-md-9, .col-md-3 {
      padding-left: 5px;
      padding-right: 5px;
    }

    h1 {font-size: (36 * 0.8) + px;}
    h2 {font-size: (30 * 0.8) + px;}
    h3 {font-size: (24 * 0.8) + px;}
    h4 {font-size: (18 * 0.8) + px;}
  }

  #pagination {
    .pager {
      li a {
        padding: 12px 10px;
      }
    }

    .pager-title {
      display: none;
    }

    .pager-title-sm {
      display: inline-block;
    }
  }

  #footer {
    padding-top: 4px;
    padding-bottom: 4px;

    h4 {
      font-size: 16px;
    }

    p {
      font-size: $small-font-size * 0.8;
    }
  }
}

@media print {
  .navbar, #sidebar, #pagination, .comments, #site-footer, .box-meta span:last-child, #back-to-top { display: none; }
}
